@using System.Globalization
@model Zermos_Web.Models.SomtodayAfwezigheidModel.SomtodayAfwezigheidModel

@{
    ViewBag.Title = "title";
    var culture = new CultureInfo("nl-NL");
}

<link rel="stylesheet" href="~/css/somtoday.css" />

<div class="absentie-container">
@foreach (var item in Model.items)
{
    <div class="absentie">
        <h1>@item.absentieReden.omschrijving @(item.opmerkingen.Length == 0 ? "" : " - " + item.opmerkingen)</h1> 
        
        @if (item.beginDatumTijd.Hour == 0 || item.eindDatumTijd.Hour == 0 || item.beginDatumTijd.Day != item.eindDatumTijd.Day)
        {
            <p>@item.beginDatumTijd.ToString("dddd d MMMM", culture) - @item.eindDatumTijd.ToString("dddd d MMMM", culture)</p>
        }
        else if (item.beginDatumTijd.Hour == 0 && item.eindDatumTijd.Hour == 23)
        {
            <p>@item.beginDatumTijd.ToString("dddd d MMMM", culture)</p>
        }
        else
        {
            <p>@item.beginDatumTijd.ToString("dddd d MMMM HH:mm", culture) - @item.eindDatumTijd.ToString("HH:mm", culture)</p>
        }
        
    </div>
}
</div>
