@model List<ChartJSCore.Models.Chart>

@{
    ViewData["Title"] = "Home Page";
    string letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

<div class="stats-container">
    <div class="stats">
        <p class="stats-vak">Vak: Nederlands</p>
        <p class="gemiddelde">Gemiddelde: @((ViewData["stats"] as Dictionary<string, string>)?["gemiddelde"])</p>
        <p class="hoogste-cijfer">Hoogste cijfer: @((ViewData["stats"] as Dictionary<string, string>)?["hoogste"])</p>
        <p class="laagste-cijfer">Laagste cijfer: @((ViewData["stats"] as Dictionary<string, string>)?["laagste"])</p>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="stats">
            <canvas display="block" box-sizing="border-box" height="min-content" width="min-content" id="@letters[i]"></canvas>
        </div>
    }
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.Raw(Model[i].CreateChartCode(letters[i].ToString()));
        }
    </script>
}