@model Zermos_Web.Models.SomtodayGradesModel.Item

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="specific-grade">
    <div class="child">
        <div class="top-30">
            <h1 class="child">@Model.vak.naam</h1>
            <p class="child">Omschrijving: @Model.omschrijving</p>
            <p class="child">Weging: @Model.weging</p>
            <p class="child">Geldend resultaat: @Model.geldendResultaat</p>
            <p class="child">Invoerdatum: @Model.datumInvoer</p>
        </div>
    </div>
</div>