@using Zermos_Web.Models.SomtodayGradesModel
@using System.Globalization
@using Zermos_Web.Models.SomtodayVakgemiddeldenModel
@using Zermos_Web.Utilities
@model Zermos_Web.Models.SortedSomtodayGradesModel.SortedSomtodayGradesModel


<link rel="stylesheet" href="~/css/somtoday.css"/>

<!--  Create 2 equal sized panels, left should be grades and SE grades both with a slider at the top to select which one, the right the last x grades ->
<!- When the screen is less then 100px wide, the all the panels should be combined into one panel, with 3 options at the slider at the top    -->


<style>
    .container {
        display: flex;
        height: calc(100% - 40px);
    }
    .panel {
        flex: 1;
        padding: 20px;
        display: none;
    }
    #panel1 { background-color: #f0f0f0; }
    #panel2 { background-color: #e0e0e0; }
    #panel3 { background-color: #d0d0d0; }
    .controls {
        z-index: 100;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        margin-right: 5px;
        height: 30px;
    }
    @@media (min-width: 1201px) {
    #panel3 {
        display: block;
    }
    #togglePanel3 {
        display: none;
    }
    }
    @@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .panel {
        height: 100%;
    }
    }
</style>

<div class="controls">
    <button id="togglePanel1">Panel 1</button>
    <button id="togglePanel2">Panel 2</button>
    <button id="togglePanel3">Panel 3</button>
</div>
<div class="container">
    <div id="panel1" class="panel">
        <h2>Panel 1</h2>
        <p>This is the content of Panel 1.</p>
    </div>
    <div id="panel2" class="panel">
        <h2>Panel 2</h2>
        <p>This is the content of Panel 2.</p>
    </div>
    <div id="panel3" class="panel">
        <h2>Panel 3</h2>
        <p>This is the content of Panel 3.</p>
    </div>
</div>
<script>
    const panel1 = document.getElementById('panel1');
    const panel2 = document.getElementById('panel2');
    const panel3 = document.getElementById('panel3');
    const togglePanel1 = document.getElementById('togglePanel1');
    const togglePanel2 = document.getElementById('togglePanel2');
    const togglePanel3 = document.getElementById('togglePanel3');

    function updatePanels() {
        const isWideScreen = window.innerWidth > 1000;
        if (isWideScreen) {
            panel3.style.display = 'block';
            togglePanel3.style.display = 'none';
            if (panel2.style.display === 'block') {
                panel1.style.display = 'none';
            } else {
                panel1.style.display = 'block';
            }
        } else {
            togglePanel3.style.display = 'inline-block';
            if (panel3.style.display === 'block') {
                panel1.style.display = 'none';
                panel2.style.display = 'none';
            } else if (panel2.style.display === 'block') {
                panel1.style.display = 'none';
                panel3.style.display = 'none';
            } else {
                panel1.style.display = 'block';
                panel2.style.display = 'none';
                panel3.style.display = 'none';
            }
        }
    }

    togglePanel1.addEventListener('click', () => {
        panel1.style.display = 'block';
        panel2.style.display = 'none';
        updatePanels();
    });

    togglePanel2.addEventListener('click', () => {
        panel1.style.display = 'none';
        panel2.style.display = 'block';
        updatePanels();
    });

    togglePanel3.addEventListener('click', () => {
        panel3.style.display = 'block';
        updatePanels();
    });

    window.addEventListener('resize', updatePanels);
    updatePanels();
</script>

@* <script minimize> *@
@* @Context.Items["dmjs"] *@
@* *@
@* //get all the sortedGrades.vak.naam and put them in an array with quotes around them *@
@* var vakken = ["@Html.Raw(string.Join("\",\"", sortedGrades.Select(x => x.vak.naam).Distinct()))"]; *@
@* var short = ["@Html.Raw(string.Join("\",\"", sortedGrades.Select(x => x.vak.afkorting).Distinct()))"]; *@
@* *@
@* // share button *@
@* addButtonToPage('fa-share-from-square', () => { *@
@* *@
@*     new ZermosModal() *@
@*     .setTitle("Deel je cijfers") *@
@*     .addText("Deel je cijfers met je vrienden! Kies hieronder een datum tot wanneer je cijfers gedeeld mogen worden, welke cijfers zichtbaar zijn én of ze alleen je gemiddelde mogen zien of ook de individuele cijfers. Pas wel op, nieuwe cijfers blijven niet automatisch gedeeld worden, je moet dus een nieuwe link genereren als je nieuwe cijfers wilt delen.") *@
@*     .addDateInput("Wat is de verval datum?", new Date(Date.now() + 604800000)) *@
@*     .addToggle("Laat individuele cijfers zien", false) *@
@*     .addMultiToggles(vakken, vakken, vakken.map(vak => true)) *@
@*     .setSubmitButtonLabel("Deel") *@
@*     .onSubmit((date, indivd, allowed) => { *@
@* *@
@*         //make date to a dd-mm-yyyy format *@
@*         var expires_at = date.split('-'); *@
@*         expires_at = expires_at[1] + '-' + expires_at[0] + '-' + expires_at[2]; *@
@* *@
@* *@
@* *@
@*         var vakken = []; *@
@*         for (var i = 0; i < allowed.length; i++) { *@
@*             if (allowed[i]) { *@
@*                 vakken.push(short[i]); *@
@*             } *@
@*         } *@
@* *@
@*         console.log(vakken, allowed); *@
@* *@
@*         //return's an plan string url *@
@*         fetch('/Somtoday/Cijfers/GenereerToken?expires_at=' + expires_at + '&vakken=' + vakken.join(',') + '&show_individual_grades=' + document.getElementById('input2').checked) *@
@*         .then(response => response.text()) *@
@*         .then((url) => { *@
@*             new ZermosModal() *@
@*             .setTitle("Deel je cijfers") *@
@*             .addText("Deel je cijfers met je vrienden, zij hoeven geen account hiervoor te hebben.") *@
@*             .addText("De link is: " + url) *@
@*             .hideSubmitButton() *@
@*             .addButton("Kopieer link", () => { *@
@*                 copyToClipboard(url); *@
@*             }) *@
@*             .open(); *@
@*         }); *@
@* *@
@*     }) *@
@*     .open(); *@
@* *@
@* }, VerticalAlignment.TL, Background.Primary); *@
@* *@
@* addButtonToPage("fa-clock-rotate-left", () => { *@
@* *@
@*    //show last 10 grades *@
@*     new ZermosModal() *@
@*     .setTitle("Laatste 10 cijfers") *@
@*     .setSubmitButtonLabel("Sluiten") *@
@*     .addText("Hieronder zie je de laatste 10 cijfers die je hebt gehaald.") *@
@* @{ *@
@*     @foreach (var grade in Model.items.OrderByDescending(x => x.datumInvoer).Take(10)) *@
@*     { *@
@* <text> *@
@*     .addText('@grade.vak.naam - @(grade.weging == 0 ? grade.examenWeging : grade.weging)x - @grade.geldendResultaat - @(grade.omschrijving ?? "")') *@
@* </text> *@
@*     } *@
@* } *@
@* *@
@*     .open(); *@
@* *@
@* }, VerticalAlignment.BL, Background.Accent); *@
@* *@
@* addButtonToPage("fa-refresh", () => { *@
@*     document.cookie = "cached-somtoday-grades=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"; *@
@*     ReplacePage('/Somtoday/Cijfers'); *@
@* }, VerticalAlignment.TL, Background.Primary); *@
@* </script> *@