@using System.Globalization
@using System.Text
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using Zermos_Web.Utilities
@model Zermos_Web.Models.SomtodayGradesModel.sortedGrades

@{
    ViewBag.Title = "title";
}

<div class="grades-container">

    <div class="vak">
        <a asp-controller="Somtoday" asp-action="CijferStatestieken" asp-route-content="@Convert.ToBase64String(Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(Model)))" style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
            <div class="top-30 fade-out" style="justify-content: center; align-items: center;">
                <h1>Cijfer statestieken</h1>
            </div>
            <div class="background">
                <img class="image"/>
            </div>
        </a>
    </div>

    @{
        @foreach (var vak in Model.grades)
        {
            float geldendResultaat = 0;
            NumberUtils.TryParseFloat(vak.geldendResultaat, out geldendResultaat);
            var encoded = Convert.ToBase64String(Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(vak)));

            <div class="vak">
                <a asp-controller="Somtoday" asp-action="CijferData" asp-route-content="@encoded">
                    <div class="top-30">
                        <h1>@vak.vak.naam</h1>
                        <p>@(vak.weging == 0 ? vak.examenWeging : vak.weging)x</p>
                        <p class="@(geldendResultaat >= 5.5f ? "sufficient" : "insufficient ")">@(vak.resultaatLabelAfkorting == "V" ? "V" : geldendResultaat.ToString("0.0", CultureInfo.InvariantCulture))</p>
                    </div>
                    <div class="bottom-70">
                        <p>@vak.omschrijving</p>
                    </div>
                </a>
            </div>
        }
    }
</div>