@using System.Globalization
@using Zermos_Web.Utilities
@model Zermos_Web.Models.SomtodayGradesModel.sortedGrades

<link rel="stylesheet" href="~/css/somtoday.css" />

<div class="grades-container">

    <div class="vak" style="height: auto">
        <a onclick="ReplacePage('@Url.Action("CijferStatestieken", "Somtoday", new {vak = Model.vak.afkorting.Capitalize()})')" style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
            <div class="top-30 fade-out" style="justify-content: center; align-items: center; margin-bottom: 0">
                <p>Cijfer statestieken</p>
            </div>
            @* <div class="background"> *@
            @*     <img class="image"/> *@
            @* </div> *@
        </a>
    </div>

    @foreach (var grade in Model.grades)
    {
        float geldendResultaat;
        NumberUtils.TryParseFloat(grade.geldendResultaat, out geldendResultaat);

        <div class="vak">
            @if (grade.isExamendossierResultaat)
            {
                <div class="isAllExamGrades"><i class="fa-solid fa-graduation-cap" aria-hidden="true"></i></div>
            }
            <a onclick="@(grade.links[0].id.StringToBase64String().Replace("=", ""))()">
                <div class="top-30">
                    <p>@grade.vak.naam</p>
                    <p>@(grade.weging == 0 ? grade.examenWeging : grade.weging)x</p>
                    <p class="@(NumberUtils.ParseFloat(grade.geldendResultaat) >= 5.5f ? "sufficient" : "insufficient ")">@(grade.resultaatLabelAfkorting == "V" ? "V" : geldendResultaat.ToString("0.0", CultureInfo.InvariantCulture))</p>
                </div>
                <div class="bottom-70">
                    <p>@grade.omschrijving</p>
                </div>
            </a>
        </div>
    }
</div>
            
<script>
@foreach(var vak in Model.grades)
{
    string function = $"function {vak.links[0].id.StringToBase64String().Replace("=", "")}() {{\n" +
                      $"    new ZermosModal()\n" +
                      $"    .setTitle('{vak.vak.naam}')\n" +
                      $"    .addText(`Omschrijving: {vak.omschrijving}`)\n" +
                      $"    .addText('Weging: {(vak.weging == 0 ? vak.examenWeging : vak.weging)}x')\n" +
                      $"    .addText('Geldend resultaat: {vak.geldendResultaat}')\n" +
                      $"    .addText('Invoerdatum: {vak.datumInvoer.ToString("dd MMMM yyyy HH:mm:ss")}')\n" +
                      $"    .setSubmitButtonLabel('Sluiten')\n" +
                      $"    .open();\n" +
                      $"}}";
        
    <text>
@Html.Raw(function)
    </text>
    
}
</script>
