@using System.Globalization
@using System.Text
@using Newtonsoft.Json
@using Zermos_Web.Utilities
@model Zermos_Web.Models.SomtodayGradesModel.sortedGrades

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/somtoday.css" />

<div class="grades-container">

    <div class="vak">
        <a onclick="ReplacePage('@Url.Action("CijferStatestieken", "Somtoday", new {vak = Model.vak.afkorting.Capitalize()})')" style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
            <div class="top-30 fade-out" style="justify-content: center; align-items: center;">
                <h1>Cijfer statestieken</h1>
            </div>
            <div class="background">
                <img class="image"/>
            </div>
        </a>
    </div>

    @{
        @foreach (var vak in Model.grades)
        {
            float geldendResultaat;
            NumberUtils.TryParseFloat(vak.geldendResultaat, out geldendResultaat);

            <div class="vak">
                <a onclick="ReplacePage('@Url.Action("CijferData", "Somtoday", new {vak = vak.vak.afkorting.Capitalize(), id = vak.links[0].id})')">
                    <div class="top-30">
                        <h1>@vak.vak.naam</h1>
                        <p>@(vak.weging == 0 ? vak.examenWeging : vak.weging)x</p>
                        <p class="@(geldendResultaat >= 5.5f ? "sufficient" : "insufficient ")">@(vak.resultaatLabelAfkorting == "V" ? "V" : geldendResultaat.ToString("0.0", CultureInfo.InvariantCulture))</p>
                    </div>
                    <div class="bottom-70">
                        <p>@vak.omschrijving</p>
                    </div>
                </a>
            </div>
        }
    }
</div>