@using Zermos_Web.TagHelpers
@using Zermos_Web.Utilities
@model Zermos_Web.Models.SortedSomtodayGradesModel.SortedSomtodayGradesModel

<link rel="stylesheet" href="/css/somtoday.css" preload/>

<!--  Create 2 equal sized panels, left should be grades and SE grades both with a slider at the top to select which one, the right the last x grades ->
<!- When the screen is less then 100px wide, the all the panels should be combined into one panel, with 3 options at the slider at the top    -->


<div class="grade-controls">
    <div id="togglePanel1">Rapport</div>
    <div id="underline" style="left: -100px; width: 0"></div>
</div>
<div class="grades-container">
    <div id="panel1" class="panel" data-settings=""> <!-- Voortgangsdossier -->
        <h1 class="grades-title">Voortgangsdossier   <span class="icon-container"><i class="fa-solid fa-list-dropdown" onclick="showSettings('voortgang')"></i><i class="fa-solid fa-info-circle" onclick="showInfo('voortgang')"></i></span></h1>
        @foreach (var grade in Model.items)
        {
            if (grade.cijfer == "-") { continue; }

            <table class="grade-table" onclick="ReplacePage('./@grade.vakAfkorting.Capitalize()/@grade.vakuuid.ShortenUUID()/@Model.relevanteCijferLichtingUUID.ShortenUUID()/@Model.leerjaarUUID.ShortenUUID()')">
                <tr class="grade-table-header">
                    <td rowspan="2"><i class="fa-solid fa-book" data-name="@grade.vakNaam.ToLower()" data-name-short="@grade.vakAfkorting.ToLower()"></i></td>
                    <td>@grade.vakNaam.Capitalize()</td>
                    <td>@(grade.weging)x</td>
                    <td class="@(grade.cijfer.ToFloat() >= 5.45f ? "sufficient" : "insufficient ")">@grade.cijfer.Replace(",", ".")</td>
                    <td style="display: none" class="@(grade.cijfer.ToFloat() >= 5.45f ? "sufficient" : "insufficient ")">@grade.cijfer.ToFloat().ExamenAfronding()</td>
                </tr>
                @if (grade.cijfers != null && grade.cijfers.Count > 0)
                {
                    <tr class="grade-table-header">+
                        <td style="display: none"></td>
                        <td>Laatste cijfer</td>
                        <td></td>
                        <td class="@(grade.cijfers[0].cijfer >= 5.45 ? "sufficient" : "insufficient ")">@grade.cijfers[0].formattedResultaat</td>
                    </tr>
                }
                else
                {
                    <tr class="grade-table-header">
                        <td style="display: none"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>
        }
        
        <table class="grade-table">
            <tr class="grade-table-header">
                <td colspan="2">Totaalgemiddelde</td>
                <td></td>
                <td class="@(Model.voortGangsdossierGemiddelde >= 5.45 ? "sufficient" : "insufficient ")">~ @(Model.voortGangsdossierGemiddelde.ToString().Replace(",", "."))</td>
            </tr>
        </table>
    </div>
</div>

<script minimize>
//@Context.Items["dmjs"]
const selectedButton = document.getElementById("togglePanel1");
if (selectedButton) {
    const buttonRect = selectedButton.getBoundingClientRect();
    const containerRect = selectedButton.parentElement.getBoundingClientRect();

    underline.style.width = `${buttonRect.width}px`;
    underline.style.left = `${buttonRect.left - containerRect.left}px`;
}
</script>