@model Zermos_Web.Controllers.RecapModel

<link rel="stylesheet" href="/css/recap.css">

<div class="loading-overlay user-select-none"></div>

<div class="next" onclick="nextSlide()">
    <i class="fas fa-chevron-right"></i>
</div>

<div class="prev" style="display: none" onclick="previousSlide()">
    <i class="fas fa-chevron-left"></i>
</div>

<div class="slide-container">
    <div class="slide">
        <div class="slide-content">
            <h1>Zermos Recap!</h1>
            <p>Er is dit jaar weer veel gebeurd, maar nu gaat het om jou. Hier is een recap van jouw schooljaar!</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    @if (Model.Cijfers.averageGrade < 5.5f)
    {
    <div class="slide">
        <div class="slide-content">
            <p>Dit jaar bleven je cijfers een beetje achter, je bent uiteindelijk met een @Model.Cijfers.averageGrade geëindigd...</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
    }
    else if (Model.Cijfers.averageGrade < 7f)
    {
    <div class="slide">
        <div class="slide-content">
            <p>Dit jaar bleven je cijfers niet achter, en je bent uiteindelijk netjes geëindigd! Namelijk:</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <h1>MET EEN @(Model.Cijfers.averageGrade.ToString("0.0"))!</h1>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
    }
    else
    {
    <div class="slide">
        <div class="slide-content">
            <p>Dit jaar ging heel erg lekker voor jou, je bent uiteindelijk met een @Model.Cijfers.averageGrade geëindigd!</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
    }

    <div class="slide">
        <div class="slide-content">
            <p>Je hebt in totaal @Model.Cijfers.totalGrades cijfers gehaald, waarvan @Model.Cijfers.totalVoldoendes voldoendes en @Model.Cijfers.totalOnvoldoendes onvoldoendes.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Je hoogste cijfer was een @Model.Cijfers.topSubjectsGrade voor @Model.Cijfers.topSubjectSubject.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Je laagste cijfer was een @Model.Cijfers.worstSubjectsGrade voor @Model.Cijfers.worstSubjectSubject.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Het meest voorkomende afgeronde cijfer was een @Model.Cijfers.mostCommonGradeGrade, namelijk @Model.Cijfers.mostCommonGradeCount keer.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <div class="stack">
                <ul>
                    <li>Totaal behaalde punten:</li>

                    @for (int i = 0; i < 10; i++)
                    {
                    <li>@Convert.ToInt32(Model.Cijfers.totalPoints)</li>
                    }

                    <li>Som van cijfer × weging</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>We gaan ook nog even naar je rooster kijken, want daar zijn ook leuke dingen gebeurd.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Je hebt in totaal @Model.Rooster.totalClasses lessen gehad, waarvan er @Model.Rooster.canceledClasses uitvielen, dat is @((Model.Rooster.cancelRatio*100).ToString("0.0"))% van alle ingeplande lessen.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Je hebt @Model.Rooster.activityClasses activiteiten gehad en @Model.Rooster.examClasses examens.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Je hebt met al die lessen natuurlijk ook veel verschillende docenten gehad. In totaal heb je @Model.Rooster.totalTeachers verschillende docenten gehad.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>En de meest voorkomende docent was: @Model.Rooster.topTeacher.ToUpper() met @Model.Rooster.topTeacherUsed lessen.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Het meest voorkomende vak was: @Model.Rooster.topSubject.ToUpper() met @Model.Rooster.topSubjectUsed lessen.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Het vak dat het meeste uitviel was: @Model.Rooster.mostCanceledSubject.ToUpper() met @Model.Rooster.totalCanceledClasses uitgevallen lessen.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Ook de lokalen blijven niet achter. In totaal heb je in @Model.Rooster.mostUsedClassroom.ToUpper() @Model.Rooster.mostUsedClassroomCount lessen uitgezeten.</p>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>

    <div class="slide">
        <div class="slide-content">
            <p>Dit was Zermos Recap weer voor dit jaar, fijne vakantie en tot volgend jaar!</p>
            <div class="back" onclick="window.location='/Zermelo/Rooster'">Doei!</div>
        </div>
        <div class="background">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
    
    
</div>



<script>
    const backgroundItems = {
        Layer1: [
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_9)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M359.999 179.334C359.64 80.2292 279.189 0 180 0C80.5887 0 0 80.5887 0 180C0 279.189 80.2292 359.64 179.334 359.999L179.333 360.001C80.2285 360.361 0 440.811 0 540C0 639.189 80.2285 719.639 179.333 719.999L179.334 720.001C80.2292 720.36 0 800.811 0 900C0 999.411 80.5887 1080 180 1080C279.189 1080 359.64 999.771 359.999 900.666L360.001 900.667C360.361 999.771 440.811 1080 540 1080C639.189 1080 719.639 999.771 719.999 900.667C720 900.667 720 900.666 720.001 900.666C720.36 999.771 800.811 1080 900 1080C999.411 1080 1080 999.411 1080 900C1080 800.811 999.771 720.36 900.666 720.001C900.666 720 900.667 720 900.667 719.999C999.771 719.639 1080 639.189 1080 540C1080 440.811 999.771 360.361 900.667 360.001L900.666 359.999C999.771 359.64 1080 279.189 1080 180C1080 80.5887 999.411 0 900 0C800.811 0 720.36 80.2292 720.001 179.334L719.999 179.333C719.639 80.2285 639.189 0 540 0C440.811 0 360.361 80.2285 360.001 179.333L359.999 179.334Z"/></g> <defs ><clipPath id = "clip0_1_9" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_8)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M270 540C120.883 540 0 419.117 0 270C0 120.883 120.883 0 270 0C419.117 0 540 120.883 540 270C540 120.883 660.883 0 810 0C959.117 0 1080 120.883 1080 270C1080 419.117 959.117 540 810 540C959.117 540 1080 660.883 1080 810C1080 959.117 959.117 1080 810 1080C660.883 1080 540 959.117 540 810C540 959.117 419.117 1080 270 1080C120.883 1080 0 959.117 0 810C0 660.883 120.883 540 270 540Z"/></g> <defs ><clipPath id = "clip0_1_8" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_10)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M180 892C182.742 892 185.47 891.939 188.183 891.817C188.061 894.53 188 897.258 188 900C188 999.411 268.589 1080 368 1080C448.881 1080 517.303 1026.65 540 953.228C562.697 1026.65 631.119 1080 712 1080C811.411 1080 892 999.411 892 900C892 897.258 891.939 894.53 891.817 891.817C894.53 891.939 897.258 892 900 892C999.411 892 1080 811.411 1080 712C1080 631.119 1026.65 562.697 953.228 540C1026.65 517.303 1080 448.881 1080 368C1080 268.589 999.411 188 900 188C897.258 188 894.53 188.061 891.817 188.183C891.939 185.47 892 182.742 892 180C892 80.5887 811.411 0 712 0C631.119 0 562.697 53.3455 540 126.772C517.303 53.3455 448.881 0 368 0C268.589 0 188 80.5887 188 180C188 182.742 188.061 185.47 188.183 188.183C185.47 188.061 182.742 188 180 188C80.5887 188 0 268.589 0 368C0 448.881 53.3455 517.303 126.772 540C53.3455 562.697 0 631.119 0 712C0 811.411 80.5887 892 180 892Z"/></g> <defs ><clipPath id = "clip0_1_10" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_12)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M393.829 170.555L393.829 170.555L400.468 214.394L302.059 88.102C276.246 54.9742 263.339 38.4103 249.13 28.6231C214.999 5.11399 170.675 2.37437 133.909 21.5013C118.602 29.4641 103.754 44.3125 74.0574 74.0091L74.0574 74.0092C44.3607 103.706 29.5123 118.554 21.5495 133.861C2.42254 170.627 5.16216 214.951 28.6713 249.082C38.4585 263.291 55.0223 276.198 88.1501 302.011L214.531 400.489L170.555 393.829C132.323 388.039 113.208 385.144 97.5982 387.168C53.3 392.912 16.6504 424.429 4.3384 467.368C6.06439e-06 482.498 6.06441e-06 501.832 6.06441e-06 540.5C6.06441e-06 579.168 6.06442e-06 598.502 4.3384 613.632C16.6504 656.571 53.3 688.088 97.5982 693.832C113.207 695.856 132.322 692.961 170.552 687.172L170.555 687.171L170.555 687.171L212.801 680.773L88.102 777.94C54.9742 803.754 38.4103 816.661 28.6232 830.87C5.11404 865.001 2.37441 909.325 21.5014 946.091C29.4641 961.398 44.3124 976.246 74.0088 1005.94L74.0092 1005.94L74.0099 1005.94L74.0106 1005.94L74.0113 1005.94C103.707 1035.64 118.555 1050.49 133.861 1058.45C170.627 1077.58 214.951 1074.84 249.082 1051.33C263.291 1041.54 276.198 1024.98 302.011 991.85L400.489 865.469L393.829 909.445C388.039 947.677 385.144 966.792 387.168 982.402C392.912 1026.7 424.429 1063.35 467.368 1075.66C482.498 1080 501.832 1080 540.5 1080C579.168 1080 598.502 1080 613.632 1075.66C656.571 1063.35 688.088 1026.7 693.832 982.402C695.856 966.793 692.961 947.678 687.172 909.448L687.171 909.445L687.171 909.445L680.751 867.05L778.022 991.883L778.022 991.884C803.836 1025.01 816.742 1041.57 830.952 1051.36C865.083 1074.87 909.406 1077.61 946.173 1058.48C961.479 1050.52 976.327 1035.67 1006.02 1005.98L1006.02 1005.98C1035.72 976.279 1050.57 961.431 1058.53 946.124C1077.66 909.358 1074.92 865.035 1051.41 830.903C1041.62 816.694 1025.06 803.787 991.931 777.974L867.187 680.772L909.445 687.171L909.446 687.171C947.677 692.961 966.793 695.856 982.402 693.832C1026.7 688.088 1063.35 656.571 1075.66 613.632C1080 598.502 1080 579.168 1080 540.5C1080 501.832 1080 482.498 1075.66 467.368C1063.35 424.429 1026.7 392.912 982.402 387.168C966.792 385.144 947.677 388.039 909.445 393.829L865.457 400.49L991.883 301.978L991.884 301.977L991.886 301.976C1025.01 276.164 1041.58 263.257 1051.36 249.048C1074.87 214.917 1077.61 170.594 1058.48 133.827C1050.52 118.521 1035.67 103.673 1005.98 73.9781L1005.98 73.9762L1005.98 73.9759C976.279 44.2792 961.431 29.4309 946.124 21.4681C909.358 2.3411 865.035 5.08072 830.903 28.5899C816.694 38.377 803.787 54.9409 777.974 88.0687L680.772 212.813L687.171 170.555L687.171 170.554C692.961 132.323 695.856 113.207 693.832 97.5982C688.088 53.3 656.571 16.6504 613.632 4.33839C598.502 0 579.168 0 540.5 0C501.832 0 482.498 0 467.368 4.33839C424.429 16.6504 392.912 53.3 387.168 97.5982C385.144 113.207 388.039 132.323 393.829 170.553L393.829 170.555Z"/></g> <defs ><clipPath id = "clip0_1_12" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <path fill-rule = "evenodd"clip-rule = "evenodd"d = "M603.919 26.6397C628.01 50.7309 635.588 85.082 626.653 115.628C657.199 106.693 691.55 114.271 715.642 138.363C739.733 162.454 747.311 196.805 738.376 227.351C768.922 218.416 803.273 225.994 827.365 250.085C851.456 274.177 859.034 308.528 850.099 339.074C880.645 330.139 914.996 337.717 939.087 361.808C963.179 385.9 970.757 420.251 961.822 450.797C992.368 441.862 1026.72 449.44 1050.81 473.531C1085.96 508.678 1085.96 565.663 1050.81 600.81C1024.66 626.965 986.407 633.657 954.065 620.885L949.535 625.415C962.178 657.706 955.455 695.829 929.365 721.919C905.273 746.01 870.922 753.588 840.376 744.653C849.311 775.199 841.733 809.55 817.642 833.642C793.55 857.733 759.199 865.311 728.654 856.376C737.588 886.922 730.01 921.273 705.919 945.365C683.921 967.363 653.368 975.592 624.969 970.054C631.516 999.156 623.463 1030.88 600.81 1053.53C565.663 1088.68 508.678 1088.68 473.531 1053.53C449.44 1029.44 441.862 995.089 450.797 964.543C420.251 973.478 385.899 965.9 361.808 941.808C337.717 917.717 330.139 883.366 339.074 852.82C308.528 861.755 274.177 854.177 250.085 830.085C225.994 805.994 218.416 771.643 227.351 741.097C196.805 750.032 162.454 742.454 138.362 718.362C114.271 694.271 106.693 659.92 115.628 629.374C85.0819 638.309 50.7309 630.731 26.6397 606.64C-8.5075 571.492 -8.5075 514.508 26.6397 479.36C52.4681 453.532 90.0895 446.684 122.171 458.816C109.935 426.691 116.758 388.967 142.64 363.085C166.731 338.994 201.082 331.416 231.628 340.351C222.693 309.805 230.271 275.454 254.362 251.362C278.454 227.271 312.805 219.693 343.351 228.628C334.416 198.082 341.994 163.731 366.086 139.64C389.951 115.774 423.884 108.114 454.213 116.658C444.802 85.8565 452.277 51.002 476.64 26.6397C511.787 -8.5075 568.772 -8.5075 603.919 26.6397Z"/></svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_11)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M560.977 0.807028C553.493 0 544.329 0 526 0C507.671 0 498.507 0 491.023 0.807028C419.883 8.47873 365.977 68.5588 366.034 140.111C366.035 141.789 366.085 143.545 366.184 145.463L359.512 137.164C348.027 122.88 342.285 115.738 336.967 110.411C286.412 59.7758 205.811 55.4103 150.083 100.289C144.221 105.01 137.74 111.49 124.78 124.451L124.78 124.451L124.779 124.451L124.779 124.452C111.819 137.411 105.339 143.892 100.618 149.754C55.7395 205.482 60.1049 286.083 110.74 336.637C116.067 341.956 123.209 347.698 137.493 359.183L168.911 384.443C177.793 391.584 182.234 395.155 186.302 397.977C186.453 398.081 186.604 398.186 186.755 398.289L174.97 397.009L174.968 397.009L174.965 397.008C156.747 395.029 147.637 394.04 140.111 394.034C68.5588 393.977 8.47873 447.883 0.807028 519.023C0 526.507 0 535.671 0 554C0 572.329 0 581.493 0.807028 588.977C8.47873 660.117 68.5588 714.023 140.111 713.966C142.017 713.965 144.024 713.9 146.255 713.772L137.493 720.817L137.491 720.819C123.208 732.302 116.066 738.045 110.74 743.362C60.1049 793.917 55.7395 874.518 100.618 930.246C105.339 936.108 111.819 942.589 124.78 955.549C137.74 968.51 144.221 974.99 150.083 979.711C205.811 1024.59 286.412 1020.22 336.967 969.589C342.285 964.262 348.027 957.12 359.511 942.836L359.512 942.836L366.184 934.537C366.085 936.455 366.035 938.211 366.034 939.889C365.977 1011.44 419.883 1071.52 491.023 1079.19C498.507 1080 507.671 1080 526 1080C544.329 1080 553.493 1080 560.977 1079.19C632.117 1071.52 686.023 1011.44 685.966 939.889C685.96 932.362 684.971 923.251 682.991 905.03L681.711 893.245C681.814 893.396 681.919 893.547 682.023 893.698C684.845 897.765 688.415 902.206 695.555 911.087L695.557 911.089L720.817 942.507L720.819 942.509L720.822 942.513C732.304 956.793 738.045 963.934 743.362 969.26C793.917 1019.89 874.518 1024.26 930.246 979.382C936.108 974.661 942.589 968.18 955.549 955.22C968.51 942.259 974.99 935.779 979.711 929.917C1024.59 874.189 1020.22 793.588 969.589 743.033C964.263 737.716 957.122 731.974 942.84 720.491L942.836 720.488L942.836 720.488L934.537 713.816C936.455 713.915 938.211 713.965 939.889 713.966C1011.44 714.023 1071.52 660.117 1079.19 588.977C1080 581.493 1080 572.329 1080 554C1080 535.671 1080 526.507 1079.19 519.023C1071.52 447.883 1011.44 393.977 939.889 394.034C932.362 394.04 923.252 395.029 905.031 397.009L905.03 397.009L894.2 398.186C898.221 395.382 902.661 391.813 911.416 384.774L911.418 384.772L942.836 359.512L942.836 359.511C957.12 348.027 964.262 342.285 969.589 336.967C1020.22 286.412 1024.59 205.811 979.711 150.083C974.99 144.221 968.51 137.74 955.549 124.78C942.589 111.819 936.108 105.339 930.246 100.618C874.518 55.7395 793.917 60.1049 743.362 110.74C738.045 116.066 732.302 123.208 720.819 137.491L720.817 137.493L695.557 168.911L695.556 168.913L695.554 168.915C688.415 177.794 684.845 182.235 682.023 186.302C681.919 186.453 681.814 186.604 681.711 186.755L682.991 174.97C684.971 156.749 685.96 147.638 685.966 140.111C686.023 68.5588 632.117 8.47873 560.977 0.807028ZM287.352 423.851C287.772 422.939 288.197 422.03 288.627 421.123C287.098 421.371 285.565 421.595 284.029 421.793C285.147 422.464 286.255 423.15 287.352 423.851ZM658.207 795.971C657.536 794.852 656.85 793.745 656.149 792.648C657.061 792.228 657.97 791.803 658.877 791.373C658.628 792.902 658.405 794.435 658.207 795.971ZM792.648 423.851C793.617 423.232 794.595 422.624 795.581 422.027C794.223 421.845 792.867 421.643 791.514 421.421C791.896 422.229 792.274 423.039 792.648 423.851ZM658.877 288.627C658.628 287.098 658.405 285.565 658.207 284.029C657.536 285.148 656.85 286.255 656.149 287.352C657.061 287.772 657.97 288.197 658.877 288.627Z"/></g> <defs ><clipPath id = "clip0_1_11" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_16)" ><path d = "M0 0L72.5961 66.4811C141.636 129.705 253.273 92.1086 270 0L340.137 65.0728C409.242 129.187 521.891 92.5103 540 0C559.733 92.964 673.567 128.55 742.735 63.3781L810 0C822.416 90.7618 930.878 131.178 999.66 70.6727L1080 0L1011.7 75.8655C949.644 144.806 988.445 255.101 1080 270L1012.83 343.823C950.045 412.828 988.096 523.96 1080 540C987.824 556.957 950.379 668.762 1013.75 737.813L1080 810C988.729 823.992 949.335 933.619 1010.82 1002.5L1080 1080L997.83 1008.48C929.137 948.693 821.532 989.665 810 1080L738.032 1013.96C668.986 950.61 557.204 987.884 540 1080C523.716 988.156 412.607 950.274 343.608 1013.04L270 1080C272.602 995.321 175.722 945.587 108.431 997.059L0 1080L69.2078 1002.1C130.369 933.258 91.0137 824.019 0 810L66.2867 737.43C129.33 668.412 91.9202 556.99 0 540C91.647 523.929 129.662 413.182 67.2059 344.213L0 270C91.2983 255.072 130.062 145.164 68.3293 76.2633L0 0Z"/></g> <defs ><clipPath id = "clip0_1_16" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_18)" ><path d = "M540 0L556.279 27.9539C590.16 86.133 667.346 101.486 720.912 60.7014L746.649 41.105L750.991 73.1607C760.029 139.877 825.464 183.599 890.56 166.418L921.838 158.162L913.582 189.44C896.401 254.536 940.123 319.971 1006.84 329.009L1038.9 333.351L1019.3 359.088C978.514 412.654 993.867 489.84 1052.05 523.721L1080 540L1052.05 556.279C993.867 590.16 978.514 667.346 1019.3 720.912L1038.9 746.649L1006.84 750.991C940.123 760.029 896.401 825.464 913.582 890.56L921.838 921.838L890.56 913.582C825.464 896.401 760.029 940.123 750.991 1006.84L746.649 1038.9L720.912 1019.3C667.346 978.514 590.16 993.867 556.279 1052.05L540 1080L523.721 1052.05C489.84 993.867 412.654 978.514 359.088 1019.3L333.351 1038.9L329.009 1006.84C319.971 940.123 254.536 896.401 189.44 913.582L158.162 921.838L166.418 890.56C183.599 825.464 139.877 760.029 73.1608 750.991L41.105 746.649L60.7013 720.912C101.486 667.346 86.1331 590.16 27.9539 556.279L0 540L27.9539 523.721C86.133 489.84 101.486 412.654 60.7014 359.088L41.105 333.351L73.1607 329.009C139.877 319.971 183.599 254.536 166.418 189.44L158.162 158.162L189.44 166.418C254.536 183.599 319.971 139.877 329.009 73.1608L333.351 41.105L359.088 60.7013C412.654 101.486 489.84 86.1331 523.721 27.9539L540 0Z"/></g> <defs ><clipPath id = "clip0_1_18" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_17)" ><path d = "M47.2912 319.919C224.953 338.945 365.051 171.525 315 0L374.063 72.721C457.714 175.716 614.347 177.427 700.227 76.2838L765 0C714.949 171.525 855.047 338.945 1032.71 319.919L1080 314.854L1005.32 376.203C901.778 461.252 902.124 619.825 1006.03 704.422L1080 764.646L1031.83 759.487C853.468 740.386 712.032 907.155 760 1080L699.392 1007.44C614.086 905.309 456.876 906.104 372.609 1009.09L315 1079.5C365.051 907.976 224.953 740.555 47.2913 759.581L0 764.646L67.1522 712.469C170.677 632.03 177.108 477.852 80.6417 389.071L0 314.854L47.2912 319.919Z"/></g> <defs ><clipPath id = "clip0_1_17" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_36)" ><path d = "M532.042 9.96338C536.046 4.80893 543.834 4.80893 547.838 9.96338L637.308 125.155C729.454 243.791 836.089 350.426 954.725 442.572L1069.92 532.043C1075.07 536.046 1075.07 543.834 1069.92 547.838L954.725 637.308C836.089 729.455 729.454 836.089 637.308 954.726L547.838 1069.92C543.834 1075.07 536.046 1075.07 532.042 1069.92L442.572 954.726C350.425 836.089 243.791 729.455 125.154 637.308L9.96319 547.838C4.80873 543.834 4.80876 536.046 9.9632 532.043L125.154 442.572C243.791 350.426 350.425 243.791 442.572 125.155L532.042 9.96338Z"/></g> <defs ><clipPath id = "clip0_1_36" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>'
        ],
        Layer2: [
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_14)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M120 60C120 93.1371 93.1371 120 60 120C26.8629 120 0 93.1371 0 60C0 26.8629 26.8629 0 60 0C93.1371 0 120 26.8629 120 60ZM360 60C360 93.1371 333.137 120 300 120C266.863 120 240 93.1371 240 60C240 26.8629 266.863 0 300 0C333.137 0 360 26.8629 360 60ZM540 120C573.137 120 600 93.1371 600 60C600 26.8629 573.137 0 540 0C506.863 0 480 26.8629 480 60C480 93.1371 506.863 120 540 120ZM840 60C840 93.1371 813.137 120 780 120C746.863 120 720 93.1371 720 60C720 26.8629 746.863 0 780 0C813.137 0 840 26.8629 840 60ZM1020 120C1053.14 120 1080 93.1371 1080 60C1080 26.8629 1053.14 0 1020 0C986.863 0 960 26.8629 960 60C960 93.1371 986.863 120 1020 120ZM120 1020C120 1053.14 93.1371 1080 60 1080C26.8629 1080 0 1053.14 0 1020C0 986.863 26.8629 960 60 960C93.1371 960 120 986.863 120 1020ZM300 1080C333.137 1080 360 1053.14 360 1020C360 986.863 333.137 960 300 960C266.863 960 240 986.863 240 1020C240 1053.14 266.863 1080 300 1080ZM600 1020C600 1053.14 573.137 1080 540 1080C506.863 1080 480 1053.14 480 1020C480 986.863 506.863 960 540 960C573.137 960 600 986.863 600 1020ZM780 1080C813.137 1080 840 1053.14 840 1020C840 986.863 813.137 960 780 960C746.863 960 720 986.863 720 1020C720 1053.14 746.863 1080 780 1080ZM1080 1020C1080 1053.14 1053.14 1080 1020 1080C986.863 1080 960 1053.14 960 1020C960 986.863 986.863 960 1020 960C1053.14 960 1080 986.863 1080 1020ZM60 600C93.1371 600 120 573.137 120 540C120 506.863 93.1371 480 60 480C26.8629 480 0 506.863 0 540C0 573.137 26.8629 600 60 600ZM120 300C120 333.137 93.1371 360 60 360C26.8629 360 0 333.137 0 300C0 266.863 26.8629 240 60 240C93.1371 240 120 266.863 120 300ZM60 840C93.1371 840 120 813.137 120 780C120 746.863 93.1371 720 60 720C26.8629 720 0 746.863 0 780C0 813.137 26.8629 840 60 840ZM360 540C360 573.137 333.137 600 300 600C266.863 600 240 573.137 240 540C240 506.863 266.863 480 300 480C333.137 480 360 506.863 360 540ZM300 360C333.137 360 360 333.137 360 300C360 266.863 333.137 240 300 240C266.863 240 240 266.863 240 300C240 333.137 266.863 360 300 360ZM360 780C360 813.137 333.137 840 300 840C266.863 840 240 813.137 240 780C240 746.863 266.863 720 300 720C333.137 720 360 746.863 360 780ZM540 600C573.137 600 600 573.137 600 540C600 506.863 573.137 480 540 480C506.863 480 480 506.863 480 540C480 573.137 506.863 600 540 600ZM600 300C600 333.137 573.137 360 540 360C506.863 360 480 333.137 480 300C480 266.863 506.863 240 540 240C573.137 240 600 266.863 600 300ZM540 840C573.137 840 600 813.137 600 780C600 746.863 573.137 720 540 720C506.863 720 480 746.863 480 780C480 813.137 506.863 840 540 840ZM840 540C840 573.137 813.137 600 780 600C746.863 600 720 573.137 720 540C720 506.863 746.863 480 780 480C813.137 480 840 506.863 840 540ZM780 360C813.137 360 840 333.137 840 300C840 266.863 813.137 240 780 240C746.863 240 720 266.863 720 300C720 333.137 746.863 360 780 360ZM840 780C840 813.137 813.137 840 780 840C746.863 840 720 813.137 720 780C720 746.863 746.863 720 780 720C813.137 720 840 746.863 840 780ZM1020 600C1053.14 600 1080 573.137 1080 540C1080 506.863 1053.14 480 1020 480C986.863 480 960 506.863 960 540C960 573.137 986.863 600 1020 600ZM1080 300C1080 333.137 1053.14 360 1020 360C986.863 360 960 333.137 960 300C960 266.863 986.863 240 1020 240C1053.14 240 1080 266.863 1080 300ZM1020 840C1053.14 840 1080 813.137 1080 780C1080 746.863 1053.14 720 1020 720C986.863 720 960 746.863 960 780C960 813.137 986.863 840 1020 840Z"/></g> <defs ><clipPath id = "clip0_1_14" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_15)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M457.733 736.247C425.602 928.297 414.056 1065.43 432.368 1069.16C450.679 1072.89 493.635 942.139 539.098 752.8C582.907 942.528 624.72 1073.64 643.063 1070.08C661.407 1066.51 651.058 929.281 620.604 736.958C733.683 895.479 822.489 1000.61 838.072 990.299C853.655 979.985 791.577 857.158 689.841 691.129C854.977 794.309 977.257 857.457 987.707 841.964C998.156 826.472 893.801 736.752 736.274 622.294C928.324 654.425 1065.46 665.971 1069.19 647.659C1072.91 629.347 942.164 586.392 752.825 540.929C942.554 497.12 1073.67 455.307 1070.11 436.963C1066.54 418.62 929.307 428.968 736.984 459.423C895.504 346.344 1000.64 257.538 990.325 241.955C980.011 226.372 857.184 288.45 691.155 390.185C794.335 225.05 857.483 102.77 841.99 92.32C826.498 81.8704 736.778 186.226 622.319 343.754C654.451 151.704 665.997 14.5669 647.685 10.8413C629.373 7.11571 586.417 137.862 540.955 327.2C497.146 137.472 455.333 6.35582 436.989 9.92147C418.646 13.4871 428.995 150.72 459.449 343.044C346.37 184.523 257.563 79.3883 241.98 89.7023C226.397 100.016 288.475 222.842 390.21 388.871C225.075 285.691 102.796 222.544 92.3461 238.036C81.8965 253.528 186.253 343.249 343.781 457.708C151.73 425.576 14.5925 414.03 10.8669 432.342C7.14126 450.654 137.887 493.609 327.225 539.072C137.498 582.881 6.38208 624.693 9.94773 643.037C13.5134 661.381 150.746 651.032 343.07 620.577C184.549 733.657 79.4138 822.464 89.7279 838.047C100.042 853.629 222.868 791.552 388.897 689.817C285.717 854.952 222.57 977.231 238.062 987.681C253.554 998.13 343.275 893.775 457.733 736.247Z"/></g> <defs ><clipPath id = "clip0_1_15" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_19)" ><path d = "M536.543 5.93557C538.086 3.28618 541.914 3.28617 543.457 5.93557L617.787 133.574C618.997 135.652 621.754 136.2 623.667 134.743L741.184 45.266C743.623 43.4087 747.16 44.8734 747.571 47.9116L767.16 192.516C767.553 195.423 770.837 196.931 773.298 195.337L1073.79 0.67498C1077.41 -1.67043 1081.67 2.58631 1079.33 6.20687L884.663 306.702C883.069 309.163 884.577 312.447 887.484 312.84L1032.09 332.429C1035.13 332.84 1036.59 336.377 1034.73 338.816L945.257 456.333C943.8 458.246 944.348 461.003 946.426 462.213L1074.06 536.543C1076.71 538.086 1076.71 541.914 1074.06 543.457L946.426 617.787C944.348 618.997 943.8 621.754 945.257 623.667L1034.73 741.184C1036.59 743.623 1035.13 747.16 1032.09 747.571L887.491 767.159C884.583 767.552 883.075 770.84 884.673 773.301L1079.8 1073.79C1082.15 1077.41 1077.89 1081.67 1074.27 1079.33L773.296 884.657C770.835 883.065 767.554 884.574 767.16 887.479L747.571 1032.09C747.16 1035.13 743.623 1036.59 741.184 1034.73L623.667 945.257C621.754 943.8 618.997 944.348 617.787 946.426L543.457 1074.06C541.914 1076.71 538.086 1076.71 536.543 1074.06L462.213 946.426C461.003 944.348 458.246 943.8 456.333 945.257L338.816 1034.73C336.377 1036.59 332.84 1035.13 332.429 1032.09L312.84 887.484C312.447 884.577 309.163 883.069 306.702 884.663L6.2069 1079.33C2.58633 1081.67 -1.67045 1077.41 0.674964 1073.79L195.337 773.298C196.931 770.837 195.423 767.553 192.516 767.16L47.9116 747.571C44.8734 747.16 43.4087 743.623 45.266 741.184L134.743 623.667C136.2 621.754 135.652 618.997 133.574 617.787L5.93557 543.457C3.28618 541.914 3.28617 538.086 5.93557 536.543L133.574 462.213C135.652 461.003 136.2 458.246 134.743 456.333L45.266 338.816C43.4087 336.377 44.8734 332.84 47.9116 332.429L192.516 312.84C195.423 312.447 196.931 309.163 195.337 306.702L0.674968 6.20688C-1.67044 2.58632 2.58631 -1.67045 6.20687 0.674962L306.702 195.337C309.163 196.931 312.447 195.423 312.84 192.516L332.429 47.9116C332.84 44.8734 336.377 43.4087 338.816 45.266L456.333 134.743C458.246 136.2 461.003 135.652 462.213 133.574L536.543 5.93557Z"/></g> <defs ><clipPath id = "clip0_1_19" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_34)" ><path d = "M536.175 12.512C537.329 8.73791 542.671 8.73791 543.825 12.5119L577.42 122.398C578.46 125.798 583.086 126.253 584.769 123.122L639.156 21.9012C641.024 18.4248 646.264 19.4672 646.66 23.3938L658.171 137.722C658.527 141.26 662.976 142.609 665.238 139.866L738.327 51.2007C740.837 48.1555 745.773 50.2001 745.395 54.1284L734.381 168.506C734.04 172.045 738.14 174.236 740.894 171.987L829.876 99.2845C832.932 96.7876 837.375 99.7559 836.237 103.535L804.105 210.295C802.97 214.068 807.398 217.037 810.457 214.553L1073.07 1.30698C1076.8 -1.72429 1081.72 3.20069 1078.69 6.93365L865.447 269.543C862.963 272.602 865.932 277.03 869.705 275.895L976.465 243.763C980.244 242.625 983.213 247.068 980.716 250.124L908.013 339.106C905.764 341.86 907.955 345.96 911.494 345.619L1025.87 334.605C1029.8 334.227 1031.84 339.163 1028.8 341.673L940.134 414.762C937.391 417.024 938.74 421.473 942.278 421.829L1056.61 433.34C1060.53 433.736 1061.58 438.976 1058.1 440.844L956.878 495.231C953.747 496.914 954.202 501.54 957.602 502.58L1067.49 536.175C1071.26 537.329 1071.26 542.671 1067.49 543.825L957.602 577.42C954.202 578.46 953.747 583.086 956.878 584.769L1058.1 639.156C1061.58 641.024 1060.53 646.264 1056.61 646.66L942.278 658.171C938.74 658.527 937.391 662.976 940.134 665.238L1028.8 738.327C1031.84 740.837 1029.8 745.773 1025.87 745.395L911.494 734.381C907.955 734.04 905.764 738.14 908.013 740.894L980.716 829.876C983.212 832.932 980.244 837.375 976.465 836.237L869.709 804.107C865.936 802.971 862.967 807.4 865.451 810.459L1079.14 1073.52C1082.18 1077.25 1077.25 1082.18 1073.52 1079.14L810.459 865.451C807.4 862.967 802.971 865.936 804.107 869.709L836.237 976.465C837.375 980.244 832.932 983.212 829.876 980.715L740.894 908.013C738.14 905.764 734.04 907.955 734.381 911.494L745.395 1025.87C745.773 1029.8 740.837 1031.84 738.327 1028.8L665.238 940.134C662.976 937.391 658.527 938.74 658.171 942.278L646.66 1056.61C646.264 1060.53 641.024 1061.58 639.156 1058.1L584.769 956.878C583.086 953.747 578.46 954.202 577.42 957.602L543.825 1067.49C542.671 1071.26 537.329 1071.26 536.175 1067.49L502.58 957.602C501.54 954.202 496.914 953.747 495.231 956.878L440.844 1058.1C438.976 1061.58 433.736 1060.53 433.34 1056.61L421.829 942.278C421.473 938.74 417.024 937.391 414.762 940.134L341.673 1028.8C339.163 1031.84 334.227 1029.8 334.605 1025.87L345.619 911.494C345.96 907.955 341.86 905.764 339.106 908.013L250.124 980.715C247.068 983.212 242.625 980.244 243.763 976.465L275.895 869.705C277.03 865.932 272.602 862.963 269.543 865.447L6.93363 1078.69C3.20068 1081.72 -1.72429 1076.8 1.30699 1073.07L214.553 810.457C217.037 807.398 214.068 802.97 210.295 804.105L103.535 836.237C99.7559 837.375 96.7876 832.932 99.2845 829.876L171.987 740.894C174.236 738.14 172.045 734.04 168.506 734.381L54.1284 745.395C50.2001 745.773 48.1555 740.837 51.2007 738.327L139.866 665.238C142.609 662.976 141.26 658.527 137.722 658.171L23.3938 646.66C19.4672 646.264 18.4248 641.024 21.9012 639.156L123.122 584.769C126.253 583.086 125.798 578.46 122.398 577.42L12.512 543.825C8.73792 542.671 8.73791 537.329 12.512 536.175L122.398 502.58C125.798 501.54 126.253 496.914 123.122 495.231L21.9012 440.844C18.4248 438.976 19.4671 433.736 23.3938 433.34L137.722 421.829C141.26 421.473 142.609 417.024 139.866 414.762L51.2007 341.673C48.1555 339.163 50.2001 334.227 54.1284 334.605L168.506 345.619C172.045 345.96 174.236 341.86 171.987 339.106L99.2845 250.124C96.7876 247.068 99.7559 242.625 103.535 243.763L210.291 275.893C214.064 277.029 217.033 272.6 214.549 269.541L0.85693 6.4837C-2.17561 2.75061 2.7506 -2.17561 6.4837 0.856926L269.541 214.549C272.6 217.033 277.029 214.064 275.893 210.291L243.763 103.535C242.625 99.7559 247.068 96.7876 250.124 99.2845L339.106 171.987C341.86 174.236 345.96 172.045 345.619 168.506L334.605 54.1284C334.227 50.2001 339.163 48.1555 341.673 51.2007L414.762 139.866C417.024 142.609 421.473 141.26 421.829 137.722L433.34 23.3938C433.736 19.4671 438.976 18.4248 440.844 21.9012L495.231 123.122C496.914 126.253 501.54 125.798 502.58 122.398L536.175 12.512Z"/></g> <defs ><clipPath id = "clip0_1_34" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <path fill-rule = "evenodd"clip-rule = "evenodd"d = "M473.472 12.6298C468.362 7.83976 460 11.4626 460 18.4661V147.315L276.72 78.2328C270.166 75.7627 263.827 82.3098 266.507 88.7802L315.815 207.821L120.05 214.136C113.05 214.361 109.699 222.836 114.651 227.788L205.761 318.898L27.314 399.649C20.9333 402.536 21.0803 411.648 27.5507 414.328L146.591 463.636L12.6296 606.529C7.83958 611.638 11.4624 620 18.4659 620H147.314L78.2326 803.28C75.7625 809.834 82.3096 816.173 88.78 813.493L207.821 764.185L214.136 959.95C214.361 966.95 222.836 970.301 227.788 965.349L318.898 874.239L399.648 1052.69C402.536 1059.07 411.648 1058.92 414.328 1052.45L463.636 933.409L606.528 1067.37C611.638 1072.16 620 1068.54 620 1061.53V932.686L803.28 1001.77C809.834 1004.24 816.173 997.691 813.493 991.22L764.185 872.18L959.95 865.865C966.95 865.639 970.301 857.164 965.349 852.212L874.239 761.102L1052.69 680.352C1059.07 677.465 1058.92 668.352 1052.45 665.672L933.409 616.364L1067.37 473.472C1072.16 468.362 1068.54 460 1061.53 460H932.685L1001.77 276.72C1004.24 270.166 997.69 263.827 991.22 266.507L872.18 315.815L865.864 120.05C865.639 113.05 857.164 109.699 852.212 114.651L761.102 205.761L680.352 27.314C677.464 20.9333 668.352 21.0803 665.672 27.5507L616.364 146.591L473.472 12.6298Z"/></svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_37)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M90 90L180 0V180H0L90 90ZM0 360V180V0H180H360L270 90L180 180L90 270L0 360ZM180 360H0V540V720V900V1080H180H360H540H720H900H1080V900V720V540V360V180V0H900H720H540H360V180H180V360ZM360 360H180L270 270L360 180V360ZM540 180H360L450 90L540 0L630 90L720 180H540ZM720 360L630 270L540 180L450 270L360 360L270 450L180 540V360L90 450L0 540L90 630L180 720H0L90 810L180 900H0L90 990L180 1080V900L270 990L360 1080V900L450 990L540 1080L630 990L720 900V1080L810 990L900 900V1080L990 990L1080 900H900L990 810L1080 720H900L990 630L1080 540L990 450L900 360H1080L990 270L900 180H1080L990 90L900 0V180L810 90L720 0V180V360ZM900 540V360V180H720L810 270L900 360H720H540H360V540V720L270 630L180 540V720V900H360H540H720H900V720V540ZM720 720H900L810 810L720 900V720ZM540 720H720L630 810L540 900L450 810L360 720H540ZM720 540V720L810 630L900 540L810 450L720 360V540ZM720 540L630 630L540 720L450 630L360 540L450 450L540 360L630 450L720 540ZM360 720V900L270 810L180 720H360Z"/></g> <defs ><clipPath id = "clip0_1_37" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_35)" ><path d = "M536.148 4.74749C537.239 0.853004 542.761 0.853016 543.852 4.7475L577.383 124.429C578.376 127.972 583.224 128.408 584.833 125.098L643.288 4.81159C645.09 1.10414 650.643 2.21565 650.879 6.33096L658.462 138.576C658.681 142.385 663.599 143.755 665.755 140.609L759.214 4.23914C761.662 0.666435 767.25 2.99082 766.443 7.24609L736.084 167.238C735.333 171.196 740.243 173.656 742.963 170.685L895.805 3.81854C898.899 0.440565 904.321 4.07136 902.376 8.21873L807.892 209.686C806.081 213.548 810.764 217.184 814.056 214.472L1073.04 1.17126C1076.76 -1.88782 1081.72 3.01049 1078.71 6.76289L868.271 268.908C865.605 272.229 869.284 276.862 873.122 275.018L1074.3 178.386C1078.43 176.401 1082.11 181.796 1078.75 184.919L912.283 339.909C909.331 342.657 911.842 347.552 915.796 346.759L1075.26 314.76C1079.51 313.908 1081.89 319.475 1078.34 321.959L942.416 417.087C939.281 419.281 940.72 424.201 944.543 424.361L1076.15 429.859C1080.27 430.031 1081.47 435.567 1077.79 437.426L957.771 498.052C954.494 499.708 954.992 504.535 958.539 505.486L1077.3 537.328C1081.2 538.373 1081.27 543.88 1077.4 545.027L958.499 580.242C954.974 581.286 954.606 586.133 957.933 587.697L1077.69 644.006C1081.41 645.757 1080.38 651.314 1076.28 651.615L944.272 661.287C940.482 661.565 939.178 666.473 942.331 668.595L1078.73 760.389C1082.32 762.805 1080.05 768.409 1075.79 767.645L915.671 738.924C911.715 738.214 909.301 743.128 912.279 745.826L1079.16 896.987C1082.56 900.06 1078.96 905.5 1074.81 903.584L873.074 810.648C869.216 808.87 865.613 813.539 868.31 816.821L1079.13 1073.34C1082.18 1077.06 1077.29 1082.01 1073.54 1079.01L813.847 871.048C810.537 868.397 805.92 872.041 807.729 875.876L901.471 1074.62C903.421 1078.75 898.029 1082.4 894.92 1079.04L742.841 915.055C740.116 912.117 735.245 914.564 735.975 918.503L765.092 1075.61C765.878 1079.85 760.32 1082.16 757.868 1078.61L665.647 945.155C663.494 942.039 658.619 943.382 658.365 947.161L649.521 1078.8C649.245 1082.91 643.699 1083.97 641.922 1080.26L584.792 960.959C583.201 957.636 578.344 958.049 577.337 961.593L543.848 1079.46C542.747 1083.33 537.253 1083.33 536.152 1079.46L502.626 961.464C501.624 957.936 496.798 957.504 495.186 960.799L436.707 1080.29C434.898 1083.99 429.358 1082.88 429.121 1078.77L421.536 947.322C421.317 943.524 416.421 942.147 414.255 945.274L320.324 1080.87C317.86 1084.43 312.287 1082.09 313.109 1077.84L343.857 918.811C344.622 914.851 339.711 912.376 336.983 915.346L184.191 1081.73C181.094 1085.11 175.677 1081.47 177.625 1077.33L272.317 875.837C274.119 872.002 269.504 868.365 266.197 871.013L6.46245 1079.01C2.7107 1082.01 -2.17987 1077.06 0.871859 1073.34L211.713 816.792C214.409 813.512 210.811 808.845 206.953 810.618L5.64186 903.135C1.48387 905.046 -2.10543 899.607 1.28659 896.535L167.806 745.746C170.778 743.055 168.383 738.151 164.433 738.841L4.64098 766.745C0.381624 767.489 -1.86495 761.883 1.72905 759.48L137.603 668.6C140.767 666.484 139.466 661.563 135.671 661.286L3.27003 651.615C-0.838001 651.315 -1.86561 645.751 1.86423 644.004L122.088 587.672C125.414 586.114 125.057 581.273 121.539 580.218L2.58463 544.571C-1.28258 543.412 -1.19315 537.905 2.70965 536.872L121.487 505.444C125.032 504.505 125.551 499.688 122.287 498.016L2.19245 436.512C-1.47811 434.633 -0.247389 429.101 3.87394 428.955L135.413 424.288C139.241 424.152 140.707 419.232 137.578 417.023L1.64694 321.048C-1.894 318.548 0.515013 312.988 4.76059 313.862L164.158 346.677C168.113 347.491 170.646 342.599 167.698 339.839L1.23927 184.011C-2.10788 180.877 1.59082 175.492 5.71697 177.491L206.78 274.904C210.618 276.764 214.313 272.127 211.643 268.801L1.29344 6.76295C-1.71878 3.01054 3.24135 -1.88779 6.95565 1.17129L265.78 214.337C269.081 217.056 273.771 213.395 271.935 209.533L176.28 8.23747C174.313 4.09805 179.722 0.439945 182.831 3.80672L336.978 170.707C339.712 173.668 344.614 171.184 343.842 167.228L312.658 7.26604C311.829 3.0131 317.41 0.661724 319.874 4.22561L414.147 140.554C416.323 143.7 421.25 142.291 421.433 138.47L427.763 6.36924C427.961 2.24983 433.508 1.08812 435.342 4.78214L495.147 125.255C496.776 128.537 501.593 128.084 502.581 124.556L536.148 4.74749Z"/></g> <defs ><clipPath id = "clip0_1_35" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_33)" ><path d = "M536.289 9.22095C537.634 5.87873 542.366 5.87872 543.711 9.22094L590.92 126.531C592.083 129.421 595.957 129.931 597.829 127.441L673.791 26.3464C675.956 23.4661 680.526 24.6907 680.96 28.2672L696.199 153.799C696.574 156.891 700.184 158.387 702.636 156.465L802.176 78.4765C805.012 76.2545 809.109 78.6203 808.603 82.1872L790.832 207.386C790.395 210.47 793.495 212.849 796.361 211.628L912.694 162.059C916.008 160.646 919.354 163.992 917.941 167.306L868.372 283.639C867.151 286.505 869.53 289.605 872.614 289.168L997.813 271.397C1001.38 270.891 1003.75 274.988 1001.52 277.824L923.534 377.364C921.613 379.816 923.109 383.426 926.201 383.801L1051.73 399.04C1055.31 399.474 1056.53 404.044 1053.65 406.209L952.559 482.171C950.069 484.043 950.579 487.917 953.469 489.08L1070.78 536.289C1074.12 537.634 1074.12 542.366 1070.78 543.711L953.469 590.92C950.579 592.083 950.069 595.957 952.559 597.829L1053.65 673.791C1056.53 675.956 1055.31 680.526 1051.73 680.96L926.201 696.199C923.109 696.574 921.613 700.184 923.534 702.636L1001.52 802.176C1003.75 805.012 1001.38 809.109 997.813 808.603L872.614 790.832C869.53 790.395 867.151 793.495 868.372 796.361L917.941 912.694C919.354 916.008 916.008 919.354 912.694 917.941L796.361 868.372C793.495 867.151 790.395 869.53 790.832 872.614L808.603 997.813C809.109 1001.38 805.012 1003.75 802.176 1001.52L702.636 923.534C700.184 921.613 696.574 923.109 696.199 926.201L680.96 1051.73C680.526 1055.31 675.956 1056.53 673.791 1053.65L597.829 952.559C595.957 950.069 592.083 950.579 590.92 953.469L543.711 1070.78C542.366 1074.12 537.634 1074.12 536.289 1070.78L489.08 953.469C487.917 950.579 484.043 950.069 482.171 952.559L406.209 1053.65C404.044 1056.53 399.474 1055.31 399.04 1051.73L383.801 926.201C383.426 923.109 379.816 921.613 377.364 923.534L277.824 1001.52C274.988 1003.75 270.891 1001.38 271.397 997.813L289.168 872.614C289.605 869.53 286.505 867.151 283.639 868.372L167.306 917.941C163.992 919.354 160.646 916.008 162.059 912.694L211.628 796.361C212.849 793.495 210.47 790.395 207.386 790.832L82.1873 808.603C78.6203 809.109 76.2545 805.012 78.4765 802.176L156.465 702.636C158.387 700.184 156.891 696.574 153.799 696.199L28.2672 680.96C24.6908 680.526 23.4661 675.956 26.3463 673.791L127.441 597.829C129.931 595.957 129.421 592.083 126.531 590.92L9.22095 543.711C5.87873 542.366 5.87872 537.634 9.22094 536.289L126.531 489.08C129.421 487.917 129.931 484.043 127.441 482.171L26.3464 406.209C23.4661 404.044 24.6907 399.474 28.2672 399.04L153.799 383.801C156.891 383.426 158.387 379.816 156.465 377.364L78.4765 277.824C76.2545 274.988 78.6203 270.891 82.1872 271.397L207.386 289.168C210.47 289.605 212.849 286.505 211.628 283.639L162.059 167.306C160.646 163.992 163.992 160.646 167.306 162.059L283.639 211.628C286.505 212.849 289.605 210.47 289.168 207.386L271.397 82.1873C270.891 78.6203 274.988 76.2545 277.824 78.4765L377.364 156.465C379.816 158.387 383.426 156.891 383.801 153.799L399.04 28.2672C399.474 24.6908 404.044 23.4661 406.209 26.3463L482.171 127.441C484.043 129.931 487.917 129.421 489.08 126.531L536.289 9.22095Z"/></g> <defs ><clipPath id = "clip0_1_33" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
        ],
        Layer3: [
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_39)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M120 0H0V120H60V180H120V240H180V300H240V360H300V420H360V480H420V540H480V600H540V660H600V720H660V780H720V840H780V900H840V960H900V1020H960V1080H1080V960H1020V900H960V840H900V780H840V720H780V660H720V600H660V540H600V480H540V420H480V360H420V300H360V240H300V180H240V120H180V60H120V0ZM120 300V360H180V420H240V480H300V540H360V600H420V660H480V720H540V780H600V840H660V900H720V960H780V1080H660V1020H600V960H540V900H480V840H420V780H360V720H300V660H240V600H180V540H120V480H60V420H0V300H120ZM0 780V660H120V720H180V780H240V840H300V900H360V960H420V1020H480V1140H360V1080H300V1020H240V960H180V900H120V840H60V780H0ZM420 0H300V120H360V180H420V240H480V300H540V360H600V420H660V480H720V540H780V600H840V660H900V720H960V780H1020V840H1140V720H1080V660H1020V600H960V540H900V480H840V420H780V360H720V300H660V240H600V180H540V120H480V60H420V0ZM660 0H780V60H840V120H900V180H960V240H1020V300H1080V360H1140V480H1020V420H960V360H900V300H840V240H780V180H720V120H660V0ZM1080 0H960V120H1080V0ZM120 1080V960H0V1080H120Z"/></g> <defs ><clipPath id = "clip0_1_39" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_38)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M450 90L360 0H540V180L450 90ZM720 360L630 270L540 180H720V360ZM900 540L810 450L720 360H900V540ZM900 540H1080V720L990 630L900 540ZM990 270L900 180H1080V360L990 270ZM900 180L810 90L720 0H900V180ZM270 990L180 900H360V1080L270 990ZM180 900V720H0L90 810L180 900ZM630 990L540 900H720V1080L630 990ZM360 720L270 630L180 540H360V720ZM180 540L90 450L0 360H180V540ZM360 720L450 810L540 900V720H360ZM900 900L990 990L1080 1080V900H900ZM720 720H900V900L810 810L720 720ZM720 720L630 630L540 540H720V720ZM360 360L270 270L180 180H360V360ZM180 180L90 90L0 0H180V180ZM360 360L450 450L540 540V360H360Z"/></g> <defs ><clipPath id = "clip0_1_38" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_42)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M1080 857.003L857.265 1079.74L686.5 908.977V1080H540.239L540 1080.29L539.752 1080H394V909.782L393.398 909.079L222.474 1080L-0.264648 857.264L170.036 686.964L-0.144871 540.144L172.25 394.727L-0.181905 222.295L222.557 -0.443359L394 171V-0.000235796H540H686.5V170.5L857 -0.000235796L1079.74 222.738L908.55 393.927L1080.14 540.144L906.506 683.506L1080 857.003Z"/></g> <defs ><clipPath id = "clip0_1_42" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_40)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M0 0H120V120H0V0ZM240 120H120V240H0V360H120V480H0V600H120V720H0V840H120V960H0V1080H120V960H240V1080H360V960H480V1080H600V960H720V1080H840V960H960V1080H1080V960H960V840H1080V720H960V600H1080V480H960V360H1080V240H960V120H1080V0H960V120H840V0H720V120H600V0H480V120H360V0H240V120ZM240 240V120H360V240H240ZM240 360H120V240H240V360ZM360 360V240H480V360H360ZM360 480V360H240V480H120V600H240V720H120V840H240V960H360V840H480V960H600V840H720V960H840V840H960V720H840V600H960V480H840V360H960V240H840V120H720V240H600V120H480V240H600V360H480V480H360ZM360 600H240V480H360V600ZM480 600V480H600V600H480ZM480 720V600H360V720H240V840H360V720H480ZM600 720V600H720V720H600ZM600 720V840H480V720H600ZM720 480H840V600H720V480ZM720 360H840V240H720V360ZM720 360V480H600V360H720ZM720 720V840H840V720H720Z"/></g> <defs ><clipPath id = "clip0_1_40" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_41)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M180 0H0V180H60V240H120V300H180V360H240V420H300V450H0V630H300V660H240V720H180V780H120V840H60V900H0V1080H180V1020H240V960H300V900H360V840H420V780H450V1080H630V780H660V840H720V900H780V960H840V1020H900V1080H1080V900H1020V840H960V780H900V720H840V660H780V630H1080V450H780V420H840V360H900V300H960V240H1020V180H1080V0H900V60H840V120H780V180H720V240H660V300H630V0H450V300H420V240H360V180H300V120H240V60H180V0Z"/></g> <defs ><clipPath id = "clip0_1_41" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
            '<svg width="1080" height="1080" viewBox="0 0 1080 1080" xmlns="http://www.w3.org/2000/svg"> <g clip-path = "url(#clip0_1_43)" ><path fill-rule = "evenodd"clip-rule = "evenodd"d = "M540 106L840 406V300L1080 540L840 780V674.157L540 974.157L240 674.157V780L0 540L240 300V406L540 106Z"/></g> <defs ><clipPath id = "clip0_1_43" ><rect width = "1080"height = "1080"fill = "white"/></clipPath> </defs> </svg>',
        ]
    };
    
    const colorPallets = 4;
    
    FullScreenMain();
    main.requestFullscreen();
    //reverse the slide order so the first slide is shown first
    const slides = document.querySelectorAll('.slide');
    slides.forEach((slide, index) => {
        slide.style.zIndex = index;
        slide.style.opacity = 0;
        slide.classList.add(`color-${Math.floor(Math.random() * colorPallets) + 1}`);
    });

    window.location.hash = '#/Recap';
    
    var currentSlide = 1;    
    function nextSlide()
    {
        currentSlide++;
        if(currentSlide >= document.querySelectorAll('.slide').length - 1)
        {
            currentSlide = document.querySelectorAll('.slide').length;
            document.querySelector('.next').style.display = 'none';
        }
        else
        {
            document.querySelector('.next').style.display = '';
            document.querySelector('.prev').style.display = '';
            
        }
        showSlide(currentSlide);
    }
    
    function previousSlide()
    {
    
        currentSlide--;
        if(currentSlide <= 0)
        {
            currentSlide = 0;
            document.querySelector('.prev').style.display = 'none';
        }
        else
        {
            document.querySelector('.prev').style.display = '';
            document.querySelector('.next').style.display = '';
        }
        showSlide(currentSlide - 1);
    }
    
    function showSlide(index)
    {
        const slides = document.querySelectorAll('.slide');
        slides.forEach((slide, i) => {
            //dont display block/none only z-index
            if(i === index - 1)
            {
                slide.style.opacity = 1;
            }
            else
            {
                slide.style.opacity = 0;
            }
        });
    }
    
    showSlide(1);
    
    document.addEventListener('keydown', (e) => {
        if(e.key == 'ArrowRight')
        {
            nextSlide();
        }
        else if(e.key == 'ArrowLeft')
        {
            previousSlide();
        }
    });
    
    //if swipe to next slide
    let touchstartX = 0;
    let touchendX = 0;
    const sliderC = document.querySelector('.slide-container');
    sliderC.addEventListener('touchstart', (e) => {
        touchstartX = e.changedTouches[0].screenX;
    });

    sliderC.addEventListener('touchend', (e) => {
        touchendX = e.changedTouches[0].screenX;
        handleGesture();
    });
    
    function handleGesture() {
        //if traveled more than 100px
        if (touchendX < touchstartX) {
            if(touchstartX - touchendX > 100)
            {
                nextSlide();
            }
        }
        if (touchendX > touchstartX) {
            if(touchendX - touchstartX > 100)
            {
                previousSlide();
            }
        }
        
    }
    
    //get all the .background elements
    const backgrounds = document.querySelectorAll('.background');
    //loop through the backgrounds
    backgrounds.forEach((background) => {
        //for the first svg pick one from the first layer
        const layer1 = backgroundItems.Layer1[Math.floor(Math.random() * backgroundItems.Layer1.length)];
        //for the second svg pick one from the second layer that is not the same as the first
        let layer2 = backgroundItems.Layer2[Math.floor(Math.random() * backgroundItems.Layer2.length)];
        while(layer2 === layer1)
        {
            layer2 = backgroundItems.Layer2[Math.floor(Math.random() * backgroundItems.Layer2.length)];
        }
        //for the third svg pick one from the third layer that is not the same as the first or second
        let layer3 = backgroundItems.Layer3[Math.floor(Math.random() * backgroundItems.Layer3.length)];
        while(layer3 === layer1 || layer3 === layer2)
        {
            layer3 = backgroundItems.Layer3[Math.floor(Math.random() * backgroundItems.Layer3.length)];
        }
        //set the background images
        background.children[2].outerHTML = `<div class="layer-1">${layer1}</div>`;
        background.children[1].outerHTML = `<div class="layer-2">${layer2}</div>`;
        background.children[0].outerHTML = `<div class="layer-3">${layer3}${layer3}</div>`;
    });
</script>