@using Zermos_Web.Utilities
@using Newtonsoft.Json
@using Zermos_Web.Models.SomtodayAfwezigheidModel
@using Infrastructure.Entities
@using Item = Zermos_Web.Models.SomtodayAfwezigheidModel.Item
@using System.Security.Claims
@model dynamic

@{
    SomtodayAfwezigheidModel somtodayAfwezigheid = JsonConvert.DeserializeObject<SomtodayAfwezigheidModel>(Model.user.cached_somtoday_absence ?? "{\"items\": []}");
}

<link rel="stylesheet" href="/css/account.css">

<div class="account-container">
    <div class="account-item" onclick="ReplacePage('@Url.Action("Debug", "Account")')" id="profile">
        <h1>Profiel</h1>
        <p>@Model.user.email - @Model.user.name</p>
    </div>
    
    @if(Model.user.cached_somtoday_absence != null)
    {
        <div onclick="ShowAbscence()" class="account-item clickable">
            <h1>Afwezigheid</h1>
            <p>Je bent dit jaar <b>@(somtodayAfwezigheid.items.Count)</b> keer afwezig geweest. @(somtodayAfwezigheid.items.Count == 0 ? "Ga zo door!" : "")</p>
        </div>
    }
    
    <div class="account-item">
        <h1>Gedeelde links</h1>
        @foreach(share share in Model.shares)
        {
            <p><b>@share.page</b> - geldig tot: @share.expires_at.ToString("d/M/yyyy") - <a href="@share.url">Bekijk hier</a></p>
        }
    </div>
    
    <div onclick="ReplacePage('@Url.Action("Settings", "Account")')" class="account-item clickable">
        <h1>Instellingen</h1>
        <p>Hier kan je verschillende instellingen aanpassen</p>
    </div>

    <div class="account-item" id="info">
        <div class="overlay-account-info-grid">
            <div class="left">
                <h1>Opgeslagen informatie</h1>
                <p>De volgende dingen zijn opgeslagen om Zermos goed te kunnen gebruiken (klik om te openen)</p>
            </div>
            <div class="right"><i class="fa-solid fa-angle-down" id="openCloseArrow" style="transition: all 0.5s ease 0s;"></i></div>
        </div>
        <div class="account-info-grid hidden">
            @{
                //Loop trough all the properties of the user object and display them like this: [name]: [value (capt at 25 characters)]
                foreach (var property in ((user) Model.user).GetType().GetProperties())
                {
                    //if property is not { get; set; } then skip it
                    if (property.GetMethod == null || property.SetMethod == null || property.GetValue((user) Model.user, null) == null || property.Name == "settings")
                    {
                        continue;
                    }

                    <p><b>@property.Name</b></p>
                }
            }
        </div>
    </div>

    <div class="account-item">
        <h1 onclick="ReplacePage('@Url.Action("Index", "Koppelingen")')" style="text-decoration: underline; cursor: pointer;">Koppelingen</h1>
        <div class="account-info-grid">
            <div class="infowijs">
                @if (TokenUtils.CheckToken(((user) Model.user).infowijs_access_token))
                {
                    <p><b>Infowijs</b>, geldig tot: @(TokenUtils.GetTokenExpiration(((user) Model.user).infowijs_access_token).ToString("d/M/yyyy"))</p>
                    <button id="infowijs-first" onclick="AreYouSure('infowijs')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="infowijs">
                        <button id="infowijs-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Infowijs</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Infowijs", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>
            <div class="zermelo">
                @if (((user) Model.user).zermelo_access_token_expires_at > DateTime.Now)
                {
                    <p><b>Zermelo</b>, geldig tot: @(((user) Model.user).zermelo_access_token_expires_at?.ToString("d/M/yyyy"))</p>
                    <button id="zermelo-first" onclick="AreYouSure('zermelo')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="zermelo">
                        <button id="zermelo-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Zermelo</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Zermelo", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>

            <div class="somtoday">
                @if (TokenUtils.CheckToken(((user) Model.user).somtoday_refresh_token))
                {
                    <p><b>Somtoday</b>, geldig tot: @(TokenUtils.GetTokenExpiration(((user) Model.user).somtoday_refresh_token).ToString("d/M/yyyy"))</p>
                    <button id="somtoday-first" onclick="AreYouSure('somtoday')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="somtoday">
                        <button id="somtoday-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Somtoday</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Somtoday", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>
            
        </div>
    </div>

    <div class="account-item">
        <h1>Uitloggen?</h1>
        <button onclick="ReplacePage('/logout')" class="koppel-knop ontkoppelen">Wil je uitloggen?</button>
    </div>
</div>

<script minimize>
@Context.Items["dmjs"]

    function AreYouSure(app) {
        document.getElementById(app + '-first').style.display = 'none';
        document.getElementById(app + '-second').style.display = 'block';
        
         new Promise(res => setTimeout(res, 3000)).then(() => {
            document.getElementById(app + '-first').style.display = 'block';
            document.getElementById(app + '-second').style.display = 'none';
        });
    }
    
     Zermos.mainBeforeLoad = () => {   
        //when clicking on #info, toggle the hidden class on the opgeslagen-informatie-grid
        document.getElementById('info').addEventListener('click', function() {
            document.querySelector('.account-info-grid').classList.toggle('hidden');
            document.getElementById('openCloseArrow').style.transform = document.getElementById('openCloseArrow').style.transform === 'rotate(180deg)' ? 'rotate(0deg)' : 'rotate(180deg)';
        });
    };
    
    //fetch /Refresh the absence data
    fetch('/Somtoday/Afwezigheid')
    .then(response => response.text())
    .then(data => {
        var json = JSON.parse(data);
        json = JSON.parse(json);
        
        console.error("Zorg dat de nieuwe absentie data wordt gebruikt!")
    });
        
    
    function ShowAbscence() {
        var abscenceModal = new ZermosModal()
        @{
            if (somtodayAfwezigheid == null || somtodayAfwezigheid.items == null || somtodayAfwezigheid.items.Count == 0)
            {
<text>
        .addText('<div>Je bent dit jaar nog niet afwezig geweest!</div>')
</text>
            }
            else
            {
                foreach (Item item in somtodayAfwezigheid.items)
                {
                    try
                    {
<text>
        .addText('<div><b>@item.omschrijving @(item.opmerkingen?.Length == 0 ? "" : " - " + (item.opmerkingen ?? ""))</b></div>')
        .addText('<div>@(item.beginDatumTijd.Hour == 0 || item.eindDatumTijd.Hour == 0 || item.beginDatumTijd.Day != item.eindDatumTijd.Day ? item.beginDatumTijd.ToString("dddd d MMMM") + " - " + item.eindDatumTijd.ToString("dddd d MMMM") : item.beginDatumTijd.Hour == 0 && item.eindDatumTijd.Hour == 23 ? item.beginDatumTijd.ToString("dddd d MMMM") : item.beginDatumTijd.ToString("dddd d MMMM HH:mm") + " - " + item.eindDatumTijd.ToString("HH:mm"))</div>')
</text>
                     }
                     catch (Exception e)
                     {
                         
                         Console.WriteLine(User.FindFirstValue("email") + " triggered error: " + e.Message);
<text>
        .addText('<div><b>Error tijdens het ophalen van de afwezigheidsdata</b></div>')
</text>
                     }
                }
            }
        }
        
        .setTitle('Afwezigheid')
        .setSubmitButtonLabel('Sluiten')
        .open();
        
    }
</script>