@using Zermos_Web.Utilities
@using Newtonsoft.Json
@using Zermos_Web.Models.SomtodayAfwezigheidModel
@model Infrastructure.Entities.user

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="/css/account.css">

<div class="account-container">
    <div class="account-item" onclick="OpenDebug()">
        <h1>Profiel</h1>
        <p>@Model.email</p>
    </div>
    
    <div onclick="ReplacePage('@Url.Action("Afwezigheid", "Somtoday")')" class="account-item clickable">
        <h1>Afwezigheid</h1>
        @{
            int afwezigheidCount = JsonConvert.DeserializeObject<SomtodayAfwezigheidModel>(Model.cached_somtoday_absence.IsNullOrEmpty() ? "{\"items\":[]}" : Model.cached_somtoday_absence).items.Count;
        }
        
        <p>Je bent dit jaar <b>[]</b> keer afwezig geweest.</p>
    </div>
    
    <div onclick="ReplacePage('@Url.Action("Settings", "Account")')" class="account-item clickable">
        <h1>Instellingen</h1>
        <p>Hier kan je verschillende instellingen aanpassen</p>
    </div>

    <div class="account-item" id="info">
        <div class="overlay-account-info-grid">
            <div class="left">
                <h1>Opgeslagen informatie</h1>
                <p>De volgende dingen zijn opgeslagen om Zermos goed te kunnen gebruiken (klik om te openen)</p>
            </div>
            <div class="right"><i class="fa-solid fa-angle-down" id="openCloseArrow" style="transition: all 0.5s ease 0s;"></i></div>
        </div>
        <div class="account-info-grid hidden">
            @{
                //Loop trough all the properties of the user object and display them like this: [name]: [value (capt at 25 characters)]
                foreach (var property in Model.GetType().GetProperties())
                {
                    //if property is not { get; set; } then skip it
                    if (property.GetMethod == null || property.SetMethod == null || property.GetValue(Model, null) == null || property.Name == "settings")
                    {
                        continue;
                    }

                    <p><b>@property.Name</b></p>
                }
            }
        </div>
    </div>

    <div class="account-item">
        <h1 onclick="ReplacePage('@Url.Action("Index", "Koppelingen")')" style="text-decoration: underline; cursor: pointer;">Koppelingen</h1>
        <div class="account-info-grid">
            <div class="infowijs">
                @if (TokenUtils.CheckToken(Model.infowijs_access_token))
                {
                    <p><b>Infowijs</b>, geldig tot: @(TokenUtils.GetTokenExpiration(Model.infowijs_access_token).ToString("d/M/yyyy"))</p>
                    <button id="infowijs-first" onclick="AreYouSure('infowijs')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="infowijs">
                        <button id="infowijs-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Infowijs</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Infowijs", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>
            <div class="zermelo">
                @if (Model.zermelo_access_token_expires_at > DateTime.Now)
                {
                    <p><b>Zermelo</b>, geldig tot: @(Model.zermelo_access_token_expires_at?.ToString("d/M/yyyy"))</p>
                    <button id="zermelo-first" onclick="AreYouSure('zermelo')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="zermelo">
                        <button id="zermelo-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Zermelo</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Zermelo", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>

            <div class="somtoday">
                @if (TokenUtils.CheckToken(Model.somtoday_refresh_token))
                {
                    <p><b>Somtoday</b>, geldig tot: @(TokenUtils.GetTokenExpiration(Model.somtoday_refresh_token).ToString("d/M/yyyy"))</p>
                    <button id="somtoday-first" onclick="AreYouSure('somtoday')" class="koppel-knop ontkoppelen">Ontkoppelen</button>

                    <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="somtoday">
                        <button id="somtoday-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                    </form>
                }
                else
                {
                    <p><b>Somtoday</b> is niet gekoppeld</p>
                    <button onclick="ReplacePage('@Url.Action("Somtoday", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                }
            </div>
            
            @if ((Context.Request.Cookies["preview"] ?? "").Contains("microsoft"))
            {
                <div class="microsoft">
                    @if (TokenUtils.CheckToken(Model.teams_access_token))
                    {
                        <p><b>Microsoft</b>, geldig tot: @(TokenUtils.GetTokenExpiration(Model.teams_access_token).ToString("d/M/yyyy"))</p>
                        <button id="microsoft-first" onclick="AreYouSure('microsoft')" class="koppel-knop ontkoppelen">Ontkoppelen</button>
    
                        <form method="POST" asp-controller="Koppelingen" asp-action="Ontkoppel" asp-route-app="microsoft">
                            <button id="microsoft-second" class="koppel-knop zeker" style="display: none">Zeker?</button>
                        </form>
                    }
                    else
                    {
                        <p><b>Microsoft</b> is niet gekoppeld</p>
                        <button onclick="ReplacePage('@Url.Action("Microsoft", "Koppelingen")')" class="koppel-knop koppelen">Koppelen</button>
                    }
                </div>
            }
            
        </div>
    </div>

    <div class="account-item">
        <h1>Uitloggen?</h1>
        <button onclick="ReplacePage('/logout')" class="koppel-knop ontkoppelen">Wil je uitloggen?</button>
    </div>
</div>

<script>
    var clicked = 0;
    function OpenDebug() {
        clicked++;
        if (clicked === 3) {
            ReplacePage('@Url.Action("Debug", "Account")');
        }
    }

    function AreYouSure(app) {
        document.getElementById(app + '-first').style.display = 'none';
        document.getElementById(app + '-second').style.display = 'block';
        
         new Promise(res => setTimeout(res, 3000)).then(() => {
            document.getElementById(app + '-first').style.display = 'block';
            document.getElementById(app + '-second').style.display = 'none';
        });
    }
    
     main.addEventListener('main:before-load', () => {   
        //when clicking on #info, toggle the hidden class on the opgeslagen-informatie-grid
        document.getElementById('info').addEventListener('click', function() {
            document.querySelector('.account-info-grid').classList.toggle('hidden');
            document.getElementById('openCloseArrow').style.transform = document.getElementById('openCloseArrow').style.transform === 'rotate(180deg)' ? 'rotate(0deg)' : 'rotate(180deg)';
        });
    });
    
    //fetch /Somtoday/Afwezigheid/Count
    fetch('/Somtoday/Afwezigheid/Count').then(res => res.json()).then(data => {        
        //set the text of the afwezigheid item to the amount of afwezigheid items
        document.querySelector('.account-item.clickable p').innerHTML = `Je bent dit jaar <b>${data}</b> keer afwezig geweest${data === 0 ? ', ga zo door!' : '.'}`;
    });
</script>
