@using Zermos_Web.Utilities
@model Infrastructure.Entities.user

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a asp-controller="AccountAuthentication" asp-action="Logout">Uitloggen</a>
<br/>
<p>@(Model.is_infowijs_linked ? "infowijs is gekoppeld": "infowijs is niet gekoppeld") - geldig tot: @(TokenUtils.GetTokenExpiration(Model.infowijs_access_token).ToString("d/M/yyyy"))</p>
<p>@(Model.is_zermelo_linked ? "zermelo is gekoppeld": "zermelo is niet gekoppeld") - geldig tot: @(Model.zermelo_access_token_expires_at?.ToString("d/M/yyyy"))</p>
<p>@(Model.is_somtoday_linked ? "somtoday is gekoppeld": "somtoday is niet gekoppeld") - geldig tot: @(TokenUtils.GetTokenExpiration(Model.somtoday_refresh_token).ToString("d/M/yyyy"))</p>
<br/>
<a asp-controller="Koppelingen" asp-action="Index">koppelingen</a><br/>
<a asp-controller="Koppelingen" asp-action="Infowijs">koppel infowijs</a><br/>
<a asp-controller="Koppelingen" asp-action="Zermelo">koppel zermelo</a><br/>
<a asp-controller="Koppelingen" asp-action="Somtoday">koppel somtoday</a>
```