<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="koppelingen-container">
    <div class="infowijs">
        <h1>Infowijs</h1>
        <p>Zermos <b>X</b> Infowijs, wat krijg je? Als je Infowijs aan je Zermos account koppelt dan krijg je toegan tot de volgende functies:</p>
        <ul>
            <li>
                Schoolkalender
            </li>
            <li>
                Schoolberichten
            </li>
        </ul>
        <p>In de schoolkalender staan alle activiteiten die de school heeft ingepland. Denk hierbij aan toetsweken, uitjes en andere activiteiten. In de schoolberichten staan alle berichten die de school heeft geplaatst. Denk hierbij aan mededelingen, nieuwtjes en andere berichten.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("InfowijsWithEmail", "Koppelingen")')">Koppel Infowijs met een email</a>
            <a onclick="ReplacePage('@Url.Action("InfowijsQr", "Koppelingen")')">Koppel Infowijs met een QR-code</a>
        </div>
    </div>
    <div class="somtoday">
        <h1>Somtoday</h1>
        <p>Zermos <b>X</b> Somtoday, wat krijg je? Als je Somtoday aan je Zermos account koppelt dan krijg je toegan tot de volgende functies:</p>
        <ul>
            <li>
                Cijfers
            </li>
            <li>
                Huiswerk
            </li>
        </ul>
        <p>In de cijfers staan alle cijfers die je hebt gehaald. In het huiswerk staan alle huiswerkopdrachten die je hebt gekregen (en je nooit gaat maken)</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("Somtoday", "Koppelingen")')">Koppel Somtoday met je wachtwoord</a>
        </div>
    </div>
    <div class="zermelo">
        <h1>Zermelo</h1>
        <p>Zermos <b>X</b> Zermelo, wat krijg je? Als je Zermelo aan je Zermos account koppelt dan krijg je toegan tot de volgende functies:</p>
        <ul>
            <li>
                Rooster
            </li>
        </ul>
        <p>In het rooster staan alle lessen die je hebt op een dag.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("ZermeloWithCode", "Koppelingen")')">Koppel Zermelo met een koppelcode</a>
            <a onclick="ReplacePage('@Url.Action("ZermeloWithQr", "Koppelingen")')">Koppel Zermelo met een QR-code</a>
        </div>
    </div>
</div>