@model string

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/koppelingen.css" />

@{
    <div class="login">
        <div class="login-child">
            <p class="child">Vul hier je schoolmail in.</p>
            <p class="child">Scan deze code met de QR code scanner in de antonius app (Antonius app > Meer > Hoy Scan), klik daarna op 'check of je ingelogd bent' en je bent ingelogd!</p>
            <img onload="imageLoaded()" src="https://chart.googleapis.com/chart?cht=qr&chl=@(ViewData["qr_text"])&chs=360x360&choe=UTF-8&chld=L|0" alt="qr code" class="img-thumbnail">
            <div class="loading-icon">
                <img src="/images/Loading-Icon-by-Kanggraphic-27-580x386-removebg-preview.png" >
            </div>
        </div>
        <form method="post" asp-controller="Koppelingen" asp-action="InfowijsQr" asp-route-uuid="@ViewData["uuid"]" class="form-control" asp-route-retry="true">
            <button type="submit" id="check" class="check">Check @((bool)ViewData["retry"]! ? "opnieuw" : "") of je ingelogd bent</button>
        </form>
    </div>
}

<script>
    function imageLoaded() {
        var loadingIcon = document.getElementsByClassName("loading-icon")[0];
        loadingIcon.style.display = "none";  
    }
</script>

@* Make a button that when clicked, send a POST request to /AntoniusApp/koppelen?a=a&b=b&c=c *@
@* <form method="post" asp-controller="AntoniusApp" asp-action="Koppelen"> *@
@*     <input type="hidden" name="a" value="@Model.data.id"/> *@
@*     <input type="hidden" name="b" value="@Model.data.customer_product_id"/> *@
@*     <input type="hidden" name="c" value="@Model.data.user_id"/> *@
@*     <button type="submit">Check of je ingelogd bent</button> *@
@* </form> *@