<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<div class="koppelingen-container">
    @* <div class="zermelo"> *@
    @*     <h1>Somtoday met inloggegevens</h1> *@
    @*     <p>Om Somtoday te koppelen aan je account, moet je je schoolmail, Somtoday wachtwoord en de naam van je school invullen.</p> *@
    @*     <div class="spacer" style="padding: 0; margin-top: 8px"></div> *@
    @*     <div class="methods"> *@
    @*         <a onclick="ReplacePage('@Url.Action("SomtodayWithCreds", "Koppelingen")')">Koppel Somtoday met je inloggegevens</a> *@
    @*     </div> *@
    @* </div> *@
    @* <div class="zermelo"> *@
    @*     <h1>Somtoday STAP methode</h1> *@
    @*     <p>Lorum ipsum set dolar ameth. Dit deel schreef ik uit mn hoofd, maar dit is toch fillertext</p> *@
    @*     <div class="spacer" style="padding: 0; margin-top: 8px"></div> *@
    @*     <div class="methods"> *@
    @*         <a onclick="ReplacePage('@Url.Action("SomtodayWithSTAP", "Koppelingen")')">Koppel Somtoday via STAP</a> *@
    @*     </div> *@
    @* </div>  *@
    <div class="zermelo">
        <h1>Somtoday hackerman methode</h1>
        <p>Deze methode wint geen schoonheidswedstrijd, maar het werkt wel. Met deze methode moet je een stukje code kopieren en in de chrome inspector plakken. Geen zorgen, alles is uitgelegd.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("SomtodayHackerman", "Koppelingen")')">Koppel Somtoday als een echte hackerman</a>
        </div>
    </div>
    
    @{
        //isNative is true when the userAgent contains either "zermos_mobile_app" or "zermos_mobile_app"
        string userAgent = Context.Request.Headers["User-Agent"];
        bool isNative = userAgent.Contains("zermos_mobile_app") || userAgent.Contains("zermos_windows_app");
    }
    
    @if (isNative)
    {
        <div class="zermelo" id="deeplink">
            <h1>Somtoday deeplink methode</h1>
            <p>Koppel Somtoday super makkelijk en veilig, je logt in op de Somtoday website en je wordt automatisch gekoppeld.</p>
            <div class="spacer" style="padding: 0; margin-top: 8px"></div>
            <div class="methods">
                <a onclick="ReplacePage('@Url.Action("SomtodayDeeplink", "Koppelingen")')">Koppel Somtoday via deeplink</a>
            </div>
        </div>
    }
    else
    {
        <div class="zermelo" id="deeplink">
            <h1>Somtoday deeplink methode</h1>
            <p>Deze methode is alleen te gebruiken als je de Zermos app hebt gedownload voor android of windows</p>
            <div class="spacer" style="padding: 0; margin-top: 8px"></div>
            <div class="methods">
                <a onclick="ReplacePage('@Url.Action("Install", "Account")')">Download Zermos</a>
            </div>
        </div>
    }
</div>