@using Zermos_Web.Models.zermelo
@using Zermos_Web.Utilities
@using System.Globalization
@model Zermos_Web.Models.zermelo.ZermeloRoosterModel

@{
    var times = new List<int>();
    var timesString = new List<string>(); //hh:mm
    var timesAlreadySet = false;
    var minuteHeight = 0f;
    var dayStartUnix = 0;
    var timeDifference = new TimeSpan();
    int timeDifferenceInSeconds = 0;
}

<div class="week" data-week="@Model.MondayOfAppointmentsWeek.GetWeekNumber()" data-year="@Model.MondayOfAppointmentsWeek.Year" data-unix="@Model.MondayOfAppointmentsWeek.ToUnixTime()" data-start="@Model.timeStamps[0]" data-end="@Model.timeStamps[1]">
    <div class="days-container">
        <ul>
            <li><div class="days-top">@Model.MondayOfAppointmentsWeek.GetWeekNumber()</div></li>
            <li><div class="days-top">Ma<div class="date">@Model.MondayOfAppointmentsWeek.ToString("dd MMM")</div></div></li>
            <li><div class="days-top">Di<div class="date">@Model.MondayOfAppointmentsWeek.AddDays(1).ToString("dd MMM")</div></div></li>
            <li><div class="days-top">Wo<div class="date">@Model.MondayOfAppointmentsWeek.AddDays(2).ToString("dd MMM")</div></div></li>
            <li><div class="days-top">Do<div class="date">@Model.MondayOfAppointmentsWeek.AddDays(3).ToString("dd MMM")</div></div></li>
            <li><div class="days-top">Vr<div class="date">@Model.MondayOfAppointmentsWeek.AddDays(4).ToString("dd MMM")</div></div></li>
        </ul>
    </div>
    <div class="lessons-container">
        <ul>
            @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
            {
                
                @if (Model.appointments.Count == 0)
                {
                    <li class="empty">Wow, de hele week vrij!</li>
                    break;
                }

                if (day != DayOfWeek.Saturday && day != DayOfWeek.Sunday)
                {
                    <li class="lesdag">
                        @{
                            if (Model.MondayOfAppointmentsWeek.GetWeekNumber() == DateTime.Now.GetWeekNumber() && day == DateTime.Now.DayOfWeek)
                            {
                                <div id="today" data-start="@Model.timeStamps[0]" data-end="@Model.timeStamps[1]"></div>
                            }
                            
                            IEnumerable<Appointment> appointmentList = Model.appointments.Where(a => a.start.ToDateTime().DayOfWeek == day).ToList();

                            if (!appointmentList.Any())
                                continue;

                            //100 means 100% of the height of the container
                            //540 means 540 minutes between 08:00 and 17:00
                            minuteHeight = 100f / (Model.timeStamps[1] - Model.timeStamps[0]) * 60; // 60 minutes in an hour

                            //get the date of the day that the appointments are for
                            //8 * 60 + 20 = 500 minutes means 08:20
                            dayStartUnix = appointmentList.First().start; // this is unix. make the unix time to be the same date but the time should be 08:20
                            dayStartUnix -= dayStartUnix % 86400; // remove the time from the unix time
                            dayStartUnix += Model.timeStamps[0]; // add the start time of the day to the unix time

                            // Define the time zones for UTC and the Dutch timezone
                            TimeZoneInfo dutchTimeZone = TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time"); // This ID represents the Dutch timezone
                            DateTime utcDateTime = DateTimeOffset.FromUnixTimeSeconds(dayStartUnix).UtcDateTime;
                            DateTime dutchDateTime = TimeZoneInfo.ConvertTimeFromUtc(utcDateTime, dutchTimeZone);
                            timeDifference = dutchDateTime - utcDateTime;
                            timeDifferenceInSeconds = (int) timeDifference.TotalSeconds;

                            dayStartUnix -= timeDifferenceInSeconds;
                            
                        }

                        @foreach (var appointment in appointmentList)
                        {
                            //add the amount of minutes from the start of the day to the start of the appointment and the start of the day to the end of the appointment
                            times.Add((appointment.start - dayStartUnix + timeDifference.Seconds) / 60);
                            times.Add((appointment.end - dayStartUnix + timeDifference.Seconds) / 60);
                            //times.Add((appointment.end - dayStartUnix + timeDifference.Seconds) / 60);

                            var lessonStart = appointment.start;
                            
                            string style = "";
                            style += $"--minutes-from-start: {((lessonStart - dayStartUnix) / 60f)}; --lesson-duration: {(appointment.duration / 60)}; top: calc(var(--minute-height) * var(--minutes-from-start)); height: calc(var(--minute-height) * var(--lesson-duration) - 8px);";
                            style += appointment.appointmentType == "conflict" ? $" width: calc(50% - 4px);" : " ";
                            
                            string classes = "";
                            classes += $"lesson-time-based {(appointment.cancelled ? "canceled" : "")} {appointment.appointmentType}";
                            
                            string base64 = appointment.ObjectToBase64String();
                            
                            string subject = appointment.subjects.Count > 0 ? appointment.subjects[0] : (appointment.actions.Count > 0 ? appointment.actions[0].appointment.subjects[0] : "");
                            string location = appointment.locations.Count > 0 ? appointment.locations[0] : (appointment.actions.Count > 0 ? appointment.actions[0].appointment.locations[0] : "");
                            string treePalm = (appointment.end - appointment.start) / 60 <= Model.tropenRoosterDuration ? "<i class=\"fa-solid fa-tree-palm\" aria-hidden=\"true\"></i>" : "";
                            
                            
                            <div class="@classes" style="@style" onclick="OpenLessonDetail('@base64')">
                                <p>@subject</p>
                                <p>@location</p>
                                @Html.Raw(treePalm)
                            </div>

                            if (appointment.appointmentType == "conflict")
                            {
                                subject = appointment.actions[1].appointment.subjects.Count > 0 ? appointment.actions[1].appointment.subjects[0] : "";
                                location = appointment.actions[1].appointment.locations.Count > 0 ? appointment.actions[1].appointment.locations[0] : "";
                                treePalm = (appointment.end - appointment.start) / 60 <= Model.tropenRoosterDuration ? "<i class=\"fa-solid fa-tree-palm\" aria-hidden=\"true\"></i>" : "";
                                
                                <div class="@classes" style="@style width: calc(50% - 8px); left:  50%" onclick="OpenLessonDetail('@base64')">
                                    <p>@subject</p>
                                    <p>@location</p>
                                    @Html.Raw(treePalm)
                                </div>
                            }

                        }
                    </li>
                }
            }
        </ul>

    </div>
    @{
        if (times.Count != 0)
        {
            times.Add(0);
            times = times.Distinct().OrderBy(t => t).ToList();
            timesString = times.Select(t => DateTimeOffset.FromUnixTimeSeconds(dayStartUnix + timeDifferenceInSeconds + t * 60).ToString("HH:mm")).ToList();
            if (times[^1] == (Model.timeStamps[1] / 60 - Model.timeStamps[0] / 60))
            {
                timesString.RemoveAt(timesString.Count - 1);
            }
        }
        
        times = times.Distinct().OrderBy(t => t).ToList();
        timesString = timesString.Distinct().ToList();
        var calcTime = new List<string>();
        string gridTemplateRows = "0 ";
        
        var minutesLeft = ((Model.timeStamps?[1] - Model.timeStamps?[0]) / 60) ?? 540; //540m is (08:00 - 17:00)
        
        //calculate the diffrence between times[n] and times[n+1] for each n
        for (var i = 0; i < times.Count; i++)
        {
            if (i == times.Count - 1)
            {
                calcTime.Add((((Model.timeStamps[1] - Model.timeStamps[0]) / 60) - times[i]).ToString());
            }
            else
            {
                if (i >= 1)
                {
                    var diffPrev = times[i] - times[i - 1];
                    if (diffPrev <= 10) // difference between this and previous before it should be skipped
                    {
                        timesString[i] = null;
                    }
                }
                
                calcTime.Add((times[i + 1] - times[i]).ToString());
                minutesLeft -= times[i + 1] - times[i];
            }
        }
        
        //gridTemplateRows += calcTime[n] -> calc(var(--minute-height) * calcTime[n]) (join with spaces)
        //gridTemplateRows += string.Join(" ", calcTime.Select(c => $"calc(var(--minute-height) * {c})"));
        
        //if (gridTemplateRows == "0 fr") gridTemplateRows = "0";
        
        while (times.Count > timesString.Count)
            timesString.Add(null);
        while (timesString.Count > times.Count)
            times.Add(0);
        
    }
    <div class="times-container">
        <ul>
            @for (var i = 0; i < times.Count; i++)
            {
                <li style="top: calc(var(--minute-height) * @times[i])"></li>
            }
        </ul>
    </div>
    <div class="hours-container">
        <ul>
            @for (var i = 0; i < times.Count; i++)
            {
                <li style="top: calc(var(--minute-height) * @times[i])"><p>@(timesString[i] ?? "")</p></li>
            }
        </ul>
    </div>
</div>