@using Zermos_Web.Models.zermelo
@model Zermos_Web.Models.zermelo.ZermeloRoosterModel
@{
    //where not cencelled
    var todaysLesson = Model.appointments.Where(x => x.start.ToDateTime().Date == DateTime.Now.Date).ToList();
    
    foreach (Appointment appointment in todaysLesson)
    {
        appointment.start += 3600;
        appointment.end += 3600;
    }
}

<link rel="stylesheet" href="/css/zermelo.css"/>

<div class="background-overlay">
    <div class="appointment" onclick='ReplacePage(window.location.hash.replace("#", ""))' style="display: block;">
        <p>Refresh</p>
    </div>
    
    @foreach (var appointment in todaysLesson)
    {
        if (appointment.cancelled) continue;
        
        <div class="appointment">
            <p>@appointment.start.ToDateTime().ToString("HH:mm") - @appointment.end.ToDateTime().ToString("HH:mm")</p>
            <p>@appointment.subjects[0]</p>
            <p>@appointment.teachers[0]</p>
            <p>@appointment.locations[0]</p>
        </div>
    }
    
    <div class="appointment" onclick='returnToNormal();' style="display: block;">
        <p>Terug</p>
    </div>
</div>

<script minimize>
    Zermos.mainBeforeLoad = () => {
        document.getElementsByClassName("sidebar")[0]?.style.setProperty('display', 'none', 'important');
        document.getElementById("content").setAttribute('style', 'width:100% !important; opacity: 0');
    }
    
    function returnToNormal() {
        document.getElementsByClassName("sidebar")[0]?.style.removeProperty('display');
        document.getElementById("content").removeAttribute('style');
        TogglePreview("zermelo_smartwatch"); 
        ReplacePage("/Zermelo/Rooster");
    }
</script>