@model Zermos_Web.Models.zermelo.ZermeloRoosterModel
@{
    var cur = new DateTime(2024, 2, 16);
    var todaysLesson = Model.appointments.Where(x => x.start.ToDateTime().Date == cur.Date).ToList();
}

<link rel="stylesheet" href="/css/zermelo.css"/>

<div class="background-overlay">
    <div class="appointment" onclick='ReplacePage(window.location.hash.replace("#", ""))' style="display: block;">
        <p>Refresh</p>
    </div>
    
    @foreach (var appointment in todaysLesson)
    {
        <div class="appointment">
            <p>@appointment.start.ToDateTime().ToString("HH:mm") - @appointment.end.ToDateTime().ToString("HH:mm")</p>
            <p>@appointment.subjects[0]</p>
            <p>@appointment.teachers[0]</p>
            <p>@appointment.locations[0]</p>
        </div>
    }
</div>

<script>
    Zermos.mainBeforeLoad = () => {
        document.getElementsByClassName("sidebar")[0]?.remove();
        document.getElementById("content").setAttribute('style', 'width:100% !important; opacity: 0');
    }
</script>