@using System.Globalization
@model System.Collections.Generic.List<Zermos_Web.Models.Datum>

@{
    ViewBag.Title = "title";
    var groupedByMonth = Model.GroupBy(item => item.startsAt.ToDateTime().Year).SelectMany(group => group.GroupBy(item => item.startsAt.ToDateTime().Month));
    var culture = new CultureInfo("nl-NL");
}

<link rel="stylesheet" href="~/css/infowijs.css" />

<div class="calander-group">
    <div class="calendar-container">
        @foreach (var dayGroup in groupedByMonth)
        {
            <div class="calendar-month-parent" id="@(dayGroup.First()?.startsAt.ToDateTime().ToString("M-yy") ?? "Geen datum!?")">

                <h1>@(dayGroup.First()?.startsAt.ToDateTime().ToString("MMMM yyyy", new CultureInfo("nl-NL")) ?? "Geen datum!?")</h1>

                @foreach (var homeworkItem in dayGroup)
                {
                    var startsAt = homeworkItem.startsAt.ToDateTime();
                    var endsAt = homeworkItem.endsAt.ToDateTime();
                    
                    <div class="calendar-item" style="@(endsAt < DateTime.Now ? "opacity: 0.5;" : "opacity: 1;")">
                        @homeworkItem.title <br/>

                        @if (startsAt.Date == endsAt.Date && homeworkItem.isAllDay == false)
                        {
                            @(startsAt.ToString("dddd d MMMM HH:mm", culture) + " - " + endsAt.ToString("HH:mm", culture))
                        }
                        else if (startsAt.Date != endsAt.Date && homeworkItem.isAllDay == false)
                        {
                            @(startsAt.AddDays(1).ToString("dddd d MMMM", culture) + " t/m " + endsAt.ToString("dddd d MMMM", culture))
                        }
                        else if (homeworkItem.isAllDay)
                        {
                            @startsAt.AddDays(1).ToString("dddd d MMMM", culture)
                        }
                        <br/>
                        
                    </div>
                }
            </div>
        }
    </div>
    <div class="dates-container">
        @foreach (var dayGroup in groupedByMonth)
        {
            var startsAt = dayGroup.First().startsAt.ToDateTime();
            <div class="month" onclick="doScrolling('@startsAt.ToString("M-yy")', 1000)" href="?@startsAt.ToString("M-yy")">
                @startsAt.ToString("MMMM", culture)
            </div>
        }
    </div>
</div>


<script>
    // Function to extract the target element ID from the URL
    function getTargetElementId() {
        var d = new Date();
        return d.getMonth() + 1 + "-" + d.getFullYear().toString().slice(-2);
    }

    function getElementY(query) {
        return document.getElementById('main').scrollTop + document.getElementById(query).getBoundingClientRect().top
    }

    function doScrolling(element, duration) {
        var startingY = document.getElementById('main').scrollTop
        var elementY = getElementY(element)
        // If element is close to page's bottom then window will scroll only to some position above the element.
        var targetY = document.body.scrollHeight - elementY < document.getElementById('main').innerHeight ? document.body.scrollHeight - document.getElementById('main').innerHeight : elementY
        var diff = targetY - startingY

        // Easing function: easeInOutCubic
        // From: https://gist.github.com/gre/1650294
        var easing = function(t) {
            return t < .5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1
        }
        var start

        if (!diff) return
        
        diff -= 96;
        
        //add a percentage of diff to the duration
        duration += Math.abs(diff / 10);

        // Bootstrap our animation - it will get called right before next frame shall be rendered.
        window.requestAnimationFrame(function step(timestamp) {
            if (!start) start = timestamp
            // Elapsed miliseconds since start of scrolling.
            var time = timestamp - start
            // Get percent of completion in range [0, 1].
            var percent = Math.min(time / duration, 1)
            // Apply the easing.
            // It can cause bad-looking slow frames in browser performance tool, so be careful.
            percent = easing(percent)

            document.getElementById('main').scrollTo(0, startingY + diff * percent)

            // Proceed with animation as long as we wanted it to.
            if (time < duration) {
                window.requestAnimationFrame(step)
            }
        })
    }

    const delay = ms => new Promise(res => setTimeout(res, ms));

    // Check if the URL contains a target element ID and scroll to it
    window.addEventListener('DOMContentLoaded', () => {
        const targetElementId = getTargetElementId();
        if (targetElementId) {
            const targetElement = document.getElementById(targetElementId);
            if (targetElement) {
                doScrolling(targetElementId, 1000)
            }
        }
    });


    document.addEventListener('DOMContentLoaded', function() {
        var mainElement = document.getElementById('main');
        var indexItems = document.querySelectorAll('.dates-container div');
        var items = document.querySelectorAll('.calendar-month-parent');

        //add the 'active' class to the item who's top is the closest to the top of the mainElement
        function setActive() {
          var closest = items[0];
          var closestDistance = Math.abs(items[0].getBoundingClientRect().top - mainElement.getBoundingClientRect().top - 96);
        
          for (var i = 1; i < items.length; i++) {
            var distance = Math.abs(items[i].getBoundingClientRect().top - mainElement.getBoundingClientRect().top - 96);
            if (distance < closestDistance) {
              closest = items[i];
              closestDistance = distance;
            }
          }
        
          for (var i = 0; i < indexItems.length; i++) {
            indexItems[i].classList.remove('active');
          }
        
          for (var i = 0; i < indexItems.length; i++) {
            if (indexItems[i].getAttribute('href') === '?' + closest.getAttribute('id')) {
              indexItems[i].classList.add('active');
              break;
            }
          }
        }

        //add the 'active' class to the item who's top is the closest to the top of the mainElement
        setActive();

        //add the 'active' class to the item who's top is the closest to the top of the mainElement when scrolling
        mainElement.addEventListener('scroll', function() {
            setActive();
        });
    });
</script>
