@using Newtonsoft.Json
@model Zermos_Web.Models.Zermos.Notitie

@{
    ViewBag.Title = "title";
}

<style>
.paragraph {
    width: 21cm;
    height: 29.7cm;
}
</style>
<script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<script defer src="/js/note-export.js"></script>

@* <h1>@Model.Titel</h1> *@
@* $1$generate a TOC based on the paragraphs#1# *@
@* <div id="toc"> *@
@*     <h2>Inhoudsopgave</h2> *@
@*     <ol> *@
@*         @foreach (var paragraph in Model.Paragraphs) *@
@*         { *@
@*             <li> *@
@*                 <a href="#@paragraph.Id">@paragraph.Naam</a> *@
@*             </li> *@
@*         } *@
@*     </ol> *@
@* </div> *@
@* *@
@* @foreach (var paragraph in Model.Paragraphs) *@
@* { *@
@*     <!-- ADD_PAGE --> *@
@*     <div class="paragraph" id="@paragraph.Id"> *@
@*         <h2>@paragraph.Naam</h2> *@
@*         <p>@paragraph.Inhoud</p> *@
@*     </div> *@
@* } *@

<div>
    @JsonConvert.SerializeObject(Model, Formatting.Indented)
</div>