@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@using Zermos_Web.Utilities
@* ReSharper disable Mvc.ControllerNotResolved *@
@* ReSharper disable Mvc.ActionNotResolved *@
@{
    string currentPage = $"/{ViewContext.RouteData.Values["controller"]}/{ViewContext.RouteData.Values["action"]?.ToString()?.Split("/")[0] ?? "index"}";
}

<!DOCTYPE html>
<!--themes can be: light, dark, red, blue or pink -->
<html lang="nl" class="@(Context.Request.Cookies["theme"] ?? "light")">
<head>
    <meta charset="UTF-8">
    <title>Zermos</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/052f5fa8f8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <meta name="theme-color" content="#f8f9fa"> *@
    <meta name="theme-color" content="@((Context.Request.Cookies["theme"] == "light" || Context.Request.Cookies["theme"] == "blue") ? "#f8f9fa" : (Context.Request.Cookies["theme"] == "dark" || Context.Request.Cookies["theme"] == "red") ? "#1a1a1a" : (Context.Request.Cookies["theme"] == "pink") ? "#ffebf2" : "#f8f9fa")">
    <script src="~/js/global.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    @if (!string.IsNullOrEmpty(ViewData["add_css"]?.ToString()))
    {
        <link rel="stylesheet" href="~/css/@(ViewData["add_css"]).css" asp-append-version="true">
    }
</head>
<body>
<div class="sidebar">
    <div class="top">
        <!--        6 SVG's with the letters Z,E,R,M,O & S width should be 1/6 of 100%-->
        <svg viewBox="0 0 700 200">
            <text class="svgText" x="100" y="100">Z</text>
            <text class="svgText" x="200" y="100">E</text>
            <text class="svgText" x="300" y="100">R</text>
            <text class="svgText" x="400" y="100">M</text>
            <text class="svgText" x="500" y="100">O</text>
            <text class="svgText" x="600" y="100">S</text>
        </svg>
    </div>

    <div class="divider"></div>

    <div class="bottom">
        <ul>
            <li style="display: none;">
                <a asp-controller="Main" asp-action="index">
                    <div class="menu-item">
                        <i class="fa-solid fa-house menu-icons fa-fw @(currentPage == @Url.Action("index", "Main") ? "active" : "")"></i>
                        <p>Hoofdmenu</p>
                    </div>
                </a>
            </li>

            <h5 class="Heading">Zermelo</h5>

            <li>
                <a asp-controller="Zermelo" asp-action="Rooster">
                    <div class="menu-item">
                        <i class="fa-solid fa-calendar-day menu-icons fa-fw @(currentPage == @Url.Action("Rooster", "Zermelo") ? "active" : "")"></i>
                        <p>Rooster</p>
                    </div>
                </a>
            </li>


            <h5 class="Heading">SOMtoday</h5>

            <li>
                <a asp-controller="Somtoday" asp-action="Huiswerk">
                    <div class="menu-item">
                        <i class="fa-solid fa-pen-to-square menu-icons fa-fw @(currentPage == @Url.Action("Huiswerk", "Somtoday") ? "active" : "")"></i>
                        <p>Huiswerk</p>
                    </div>
                </a>
            </li>

            <li>
                <a asp-controller="Somtoday" asp-action="Cijfers">
                    <div class="menu-item">
                        <i class="fa-solid fa-line-chart menu-icons fa-fw @(currentPage == @Url.Action("Cijfers", "Somtoday") ? "active" : "")"></i>
                        <p>Cijfers</p>
                    </div>
                </a>
            </li>


            <h5 class="Heading">School</h5>

            <li>
                <a asp-controller="School" asp-action="InformatieBoord">
                    <div class="menu-item">
                        <i class="fa-solid fa-info-circle menu-icons fa-fw @(currentPage == @Url.Action("InformatieBoord", "School") ? "active" : "")"></i>
                        <p>Informatie bord</p>
                    </div>
                </a>
            </li>


            <h5 class="Heading">De Antonius app</h5>

            <li>
                <a asp-controller="Infowijs" asp-action="SchoolNieuws">
                    <div class="menu-item">
                        <i class="fa-solid fa-newspaper menu-icons fa-fw @(currentPage == @Url.Action("SchoolNieuws", "Infowijs") ? "active" : "")"></i>
                        <p>School nieuws</p>
                    </div>
                </a>
            </li>

            <li>
                <a asp-controller="Infowijs" asp-action="SchoolKalender">
                    <div class="menu-item">
                        <i class="fa-solid fa-calendar-days menu-icons fa-fw @(currentPage == @Url.Action("SchoolKalender", "Infowijs") ? "active" : "")"></i>
                        <p>School kalender</p>
                    </div>
                </a>
            </li>

            <li style="display: none" class="hidden-account">
                <a asp-controller="Account" asp-action="ShowAccount">
                    <div class="menu-item">
                        <i class="fa-solid fa-user menu-icons fa-fw @(currentPage == @Url.Action("ShowAccount", "Account") ? "active" : "")"></i>
                    </div>
                </a>
            </li>

            <div class="spacer"></div>
        </ul>
    </div>
    <div class="docs">
        <img class="docs-image background-tint"/>
        <h4>Hulp nodig?</h4>
        <p>Check hoe je Zermos kunt gebruiken</p>
        <a href="https://zermos-docs.kronk.tech">Bekijk de documentatie</a>
    </div>
</div>

<div class="top-bar">
    <div class="top-right-profile-picture">
        <a asp-controller="Account" asp-action="ShowAccount">
            <i class="fa-solid fa-user menu-icons fa-fw @(currentPage == @Url.Action("ShowAccount", "Account") ? "active" : "")"></i>
        </a>
    </div>

    <div class="backbutton" onclick="window.history.back()">
        <i class="fa-solid fa-angle-left"></i>
    </div>

    <div class="forewardbutton" onclick="window.history.forward()">
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>

@if (Context.Request.Cookies["version"] == null && !(bool)(Context.Items["loading"] ?? true) && Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development")
{
    Context.Response.Cookies.Append("version", Environment.GetEnvironmentVariable("ZERMOS-WEB-VERSION") ?? string.Empty, new CookieOptions { Expires = DateTime.Now.AddDays(60) });
    <div class="version">
        <p>Je gebruikt momenteel de <b>nieuwste</b> versie van Zermos</p>
    </div>
}
else if (Context.Request.Cookies["version"] != Environment.GetEnvironmentVariable("ZERMOS-WEB-VERSION") && !(bool)(Context.Items["loading"] ?? true) && Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development")
{
    Context.Response.Cookies.Append("version", Environment.GetEnvironmentVariable("ZERMOS-WEB-VERSION") ?? string.Empty, new CookieOptions { Expires = DateTime.Now.AddDays(60) });
    <div class="version">
        <p>Er is een nieuwe versie van Zermos (@(Environment.GetEnvironmentVariable("ZERMOS-WEB-VERSION") ?? string.Empty)), bekijk <a asp-controller="Main" asp-action="Docs">hier</a> wat er nieuw is</p>
    </div>
}

<main class="main" id="main">
    @RenderBody()
</main>

@{
    //if body isn't _Loading.cshtml show notifs
    if (ViewContext.View.Path != "/Views/Shared/_Loading.cshtml")
    {
        <!-- Hoi :), als je benieuwd ben naar hoe dit werkt, de berekening staat in /global.js-->
        <div class="notifications">
            @foreach (var notification in Context.GetNotifications())
            {
                <div class="notification @notification.Type">
                    <h1>@notification.Type - @notification.Title</h1>
                    <p>@notification.Body</p>
                </div>
            }
        </div>
    }
}

@await RenderSectionAsync("Scripts", false)
</body>
</html>
